<article class="toast-message" id="countdown-toast">
  <span class="toast-text">마감</span>
  <span class="countdown" id="countdown">6일 1시간 55분</span>
  <span class="toast-text"> 전</span>
  <button class="toast-message-close" id="toast-close"> &times;</button>
</article>
