.cont-select {
  position: relative;
  // width: 200px;
}

.btn-select {
  width: 100%;
  height: 28px;
  background-color: #fff;
  color: #000;
  border: 1px solid #bbb;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  @include make-after {
    width: 10px;
    height: 5px;
    @include bg-url('img', 'sel-arr.svg', 'cover');
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.btn-select:hover,
.btn-select:focus {
  border: 1px solid var(--main-color);
  outline: 1px solid var(--main-color);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.list-member {
  display: none;
  position: absolute;
  width: 99%;
  top: 31px;
  left: 1px;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.35);
  background: #fff;
  z-index: 11;
  border-radius: 5px;
}

.btn-select.on {
  background:#eee;
}

.btn-select.on + .list-member {
  display: block;
}

.list-member li {
  // height: 40px;
  box-sizing: border-box;
}

.list-member li button {
  width: 100%;
  padding: 7px 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
}

.list-member li button:hover,
.list-member li button:focus {
  background-color: #eee;
}
