---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css'

const pageTitle = '로그인';
const idName = 'login';
---

<Layout
  pageTitle={pageTitle}
  idName={idName}
  pageCnt="noCnt"
  pageHeader="noHeader"
  pageFooter="noFooter"
  pageNav="noNav"
>
  <!-- 컨텐츠가 들어갈 부분 -->
  <section class="login flex wid100">
    <article class="banner">
      <div class="banner__img">
        <img class="banner-img" src="../assets/img/banner.png" alt="" />
      </div>
    </article>
    <article class="login-form">
      <form action="" method="post">
        <h2>Login</h2>
        <p>
          <img src="../assets/img/login-title.png" alt="" />
        </p>
        <div class="login-form__inner">
          <div class="row">
            <label for="id">행번</label>
            <input
              class="com-input input-lg v-motion"
              type="text"
              id="id"
              name="id"
              required
            />
          </div>
          <div class="row">
            <label for="pwd">비밀번호</label>
            <input
              class="com-input input-lg v-motion"
              type="password"
              id="pwd"
              name="pwd"
              required
            />
          </div>
          <div class="row">
            <button class="com-btn btn-lg font-lg" type="submit">Login</button>
          </div>
          <div class="row mt16">
            <div class="flex jcb gap4 wid100">
              <a href="#" class="wid100 com-btn btn-mid font-md bg-gray"
                >비밀번호 변경</a
              >
              <a href="#" class="wid100 com-btn btn-mid font-md after-none"
                >비밀번호 초기화</a
              >
            </div>
          </div>
        </div>
      </form>
      <!-- 이용관련안내 -->
      <div class="use-info">
        <h3 class="circle-title">직원평가시스템 이용 관련 안내</h3>
        <ul class="arrow-list">
          <li>최초로 로그인시 비밀번호를 초기화 및 변경해야 한다.</li>
          <li>
            평가단계 변경시 관련 직원에게 시스템이 자동적으로 직원평가시스템
            메일을 발송하여 평가단계를 안내합니다.
          </li>
          <li>
            직원평가시스템 이용 및 평가절차와 관련한 사항 등은 관리자(5555) 에게
            전화 또는 메일로 문의해 주시기 바랍니다.
          </li>
        </ul>
      </div>
      <!-- 이용관련안내 eee -->
    </article>
  </section>
  <!-- 컨텐츠가 들어갈 부분 eee -->


  <script>
    window.addEventListener('resize', function () {
      const $bnrImg = document.querySelector('.banner-img');
      if(this.window.innerWidth < 1920) $bnrImg.classList.add("on");
      else $bnrImg.classList.remove("on");
    });
  </script>
</Layout>
