.login {
  .banner {
    width: 65.416667%; /* 1256px/1920 */
    &__img {
      height: 100%;
      // overflow: hidden;
      img {
        width: 100%;
        height: 100vh;
        &.on{
          height: 100%;
        }
      }
    }
  }
  .login-form {
    width: 34.583333%; /* 664/1920 */
    min-width: 660px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .after-none{
      border:1px solid #666;
    }
    .btn-lg{
      width: 100%;
    }
    h2{
      font: normal normal 600 40px/48px Pretendard;
letter-spacing: 0px;
      margin-bottom: 16px;
    }
    p{
      margin-bottom: 32px;
    }
    &__inner {
      padding-top: 32px;
      padding-bottom: 32px;
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      width: 463px; /* 436px/1920 */
      margin: 0 auto;
      .row{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &:last-of-type{
          margin-bottom: 0;
        }
        label{
          flex:none;
          min-width: 70px;
          text-align: right;
          margin-right: 24px;
          font-size: 20px;
          font-weight: 600;
        }
        &:nth-of-type(3){
          margin-top: 24px;
          margin-bottom: 8px;
        }
        &:nth-of-type(4){
          margin-top: 8px!important;
        }
      }
    }
    form {
      width: 100%;
    }
  }
  .use-info{
    width: 463px; /* 436px/1920 */
    margin: 0 auto;
    margin-top: 32px;
    h3{
      font-size: 22px; font-weight: 600;
    }
    ul{
      margin-top: 16px;
      li{
        font-size: 15px;
        font-weight: 300;
        color: #999999;
        text-align: left;
        margin-bottom: 5px;
        word-break: keep-all;
        line-height: 1.3;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
}
