---
import Layout from '../../layouts/Layout.astro';

const title = '업무이력작성';
const pageTitle = `Home > ${title}`;
const idName = 'dashboard';
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <div class="cnt-wrap">
    <section class="cnt">
      <div class="cnt__head">
        <h3 class="com-title-lg">업무이력작성</h3>
      </div>
      <div class="cnt__body">
        <div class="flex end">
          <div class="btn-set">
            <button type="button" class="com-btn btn-sm bg-white border-gray"
              >최신정보불러오기</button
            >
            <button
              type="button"
              class="com-btn btn-sm bg-white border-main text-main">출력</button
            >
            <button
              type="button"
              class="com-btn btn-sm bg-white border-main text-main"
              >미리보기</button
            >
            <button
              type="button"
              class="com-btn btn-sm bg-main border-main text-white">저장</button
            >
          </div>
        </div>

        <!-- 프로필 -->
        <div class="row">
          <div class="arr-rigth-title">기본정보</div>
          <div class="profile flex mt10 w945">
            <div class="left">
              <!-- 이력이미지가 없을경우 -->
              <div
                class="img border"
                style="background-image:url('../assets/img/profile.png')"
              >
              </div>
              <!-- 이력이미지가 없을경우 eee -->

              <!-- 이력이미지가 있을경우 -->
              <div
                class="img"
                style="background-image:url('../assets/img/test8.jpg')"
              >
              </div>
              <!-- 이력이미지가 있을경우 eee -->
            </div>
            <div class="right">
              <div class="com-table-type2 mt0">
                <table>
                  <colgroup>
                    <col width="160px" />
                    <col width="auto" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>행번</th>
                      <td>000</td>
                    </tr>
                    <tr>
                      <th>성명</th>
                      <td>000</td>
                    </tr>
                    <tr>
                      <th>생년월일</th>
                      <td>000</td>
                    </tr>
                    <tr>
                      <th>소속</th>
                      <td>000</td>
                    </tr>
                    <tr>
                      <th>직급</th>
                      <td>000</td>
                    </tr>
                    <tr>
                      <th>평점</th>
                      <td>000</td>
                    </tr>
                    <tr>
                      <th>직책</th>
                      <td>000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 프로필 eee -->

        <!-- 기본정보 -->
        <div class="row mt30">
          <div class="arr-rigth-title">기본정보</div>
          <div class="profile flex mt10">
            <div class="right">
              <div class="com-table">
                <table>
                  <colgroup>
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="auto">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>졸업 연월</th>
                      <th>구분</th>
                      <th>학교</th>
                      <th>전공</th>
                      <th>졸업논문</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2004.02</td>
                      <td>대학교</td>
                      <td>서울대</td>
                      <td>경제력</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>2004.02</td>
                      <td>대학교</td>
                      <td>서울대</td>
                      <td>경제력</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 기본정보 eee -->

        <!-- 자격증 -->
        <div class="row mt30">
          <div class="arr-rigth-title">자격증</div>
          <div class="profile flex mt10">
            <div class="right">
              <div class="com-table">
                <table>
                  <colgroup>
                    <col width="24%">
                    <col width="auto">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>취득 연월</th>
                      <th>자격증명</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2009.02</td>
                      <td>공인중개사</td>
                    </tr>
                    <tr>
                      <td>2009.02</td>
                      <td>공인중개사</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- 자격증 eee -->
      </div>
    </section>
  </div>
  <!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
