---
import Layout from '../../layouts/Layout.astro';
import '../../css/ui.css';
import ComCheckBox from '../../components/ComCheckBox.astro';
import ComSelect from '../../components/ComSelect.astro';
const pageTitle = '공통팝업';
const idName = 'login';
---

<Layout pageTitle={pageTitle} idName={idName}>
<!-- 컨텐츠가 들어갈 부분 -->
<div class="cnt-wrap">
  <!-- 공통팝업 -->

  <!-- <button class="open-btn" onclick="renderPopupType1()">팝업 1 열기</button> -->
  <!-- <button class="open-btn" onclick="renderPopupType2()">팝업 2 열기</button> -->
  <button class="open-btn com-btn btn-mid" onclick="openPop('pwdChangePop')"
    >비밀번호 변경</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a1')"
    >로그인 정보</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a2')"
    >리뷰문항매핑_일하는방식리뷰_문항선택팝업</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a4')"
    >리뷰문항매핑복사</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a5')"
    >임원부서장 매핑정보</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a6')"
    >사용자검색</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a7')"
    >반려사유</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a8')"
    >이의신청 상세</button
  >
  <button class="open-btn com-btn btn-mid" onclick="openPop('a9')"
    >성과평가라인 엑셀업로드</button
  >

  <!-- 비밀번호 변경 -->
  <div class="compopup-container">
    <div class="com-popup size-sm" id="pwdChangePop">
      <div class="popup-content">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-title">
          <h3 class="circle-title type2">직원평가시스템 이용 관련 안내</h3>
        </div>
        <div class="popup-body">
          <p class="txt">
            당행 정보보호 규정에 따라 다음 사항에 유의하여 주시기 바랍니다. <br
            />
            비밀번호를 잊은 경우에는 비밀번호를 초기화합니다.
          </p>
          <ul class="arrow-list type2">
            <li>
              비밀번호는 영문자, 숫자, 특수문자(!@#$%^&* 등)를 각 1자 이상
              포함하여 9자리 이상으로 설정합니다.
            </li>
            <li>비밀번호는 90일마다 변경하여 사용해야 합니다.</li>
          </ul>

          <form action="post" class="formType1">
            <div class="row">
              <label for="employeeNumber">행번</label>
              <input
                class="com-input input-lg"
                type="text"
                id="employeeNumber"
                name="employeeNumber"
              />
            </div>
            <div class="row">
              <label for="currentPassword">현재 비밀번호</label>
              <input
                class="com-input input-lg"
                type="password"
                id="currentPassword"
                name="currentPassword"
              />
            </div>
            <div class="row">
              <label for="newPassword">새 비밀번호</label>
              <input
                class="com-input input-lg"
                type="password"
                id="newPassword"
                name="newPassword"
              />
            </div>
            <div class="row">
              <label for="confirmNewPassword">새 비밀번호 확인</label>
              <input
                class="com-input input-lg"
                type="password"
                id="confirmNewPassword"
                name="confirmNewPassword"
              />
            </div>

            <div class="btn-set mt30">
              <button class="com-btn btn-sm bg-gray" type="submit"
                >비밀번호 변경</button
              >
              <button
                class="com-btn btn-sm bg-white border closePopBtn"
                type="button">닫기</button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 비밀번호 변경 eee -->

  <!-- 로그인 정보 -->
  <div class="compopup-container">
    <div class="com-popup size-xs-sm" id="a1">
      <div class="popup-content">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-body">
          <p class="txt">
            로그인 정보가 존재하지 않습니다. <br />
            행번과 비밀번호를 확인해 주세요. <br />

            <br />
            직원평가시스템에 처음 접속하셨거나 <br />
            비밀번호를 잊으신 경우 <strong>[비밀번호 초기화]</strong>를 <br />
            진행하시기 바랍니다.
          </p>

          <div class="btn-set mt30">
            <button class="com-btn btn-sm bg-gray" type="submit"
              >비밀번호 변경</button
            >
            <button
              class="com-btn btn-sm bg-white border closePopBtn"
              type="button">닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 로그인 정보 eee -->

  <!-- 리뷰문항매핑_일하는방식리뷰_문항선택팝업 -->
  <div class="compopup-container">
    <div class="com-popup type2 cnt-wrap size-mid" id="a2">
      <div class="popup-content cnt">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-title">
          <div class="cnt__head">
            <h3 class="com-title-lg">일하는방식리뷰 문항 선택</h3>
          </div>
        </div>
        <div class="popup-body">
          <div class="com-table">
            <table>
              <colgroup>
                <col width="15%" />
                <col width="30%" />
                <col width="55%" />
              </colgroup>
              <tr>
                <th>선택</th>
                <th>문항아이디</th>
                <th>평가문항</th>
              </tr>
              <tr>
                <td>
                  <ComCheckBox id="a1" />
                </td>
                <td>2023년</td>
                <td>
                  평가문항이 나타나는 영역입니다. 평가문항이 나타나는
                  영역입니다. 평가문항이 나타나는 영역입니다.
                </td>
              </tr>
              <tr>
                <td>
                  <ComCheckBox id="a2" />
                </td>
                <td>2023년</td>
                <td>
                  평가문항이 나타나는 영역입니다. 평가문항이 나타나는
                  영역입니다. 평가문항이 나타나는 영역입니다.
                </td>
              </tr>
              <tr>
                <td>
                  <ComCheckBox id="a3" />
                </td>
                <td>2023년</td>
                <td>
                  평가문항이 나타나는 영역입니다. 평가문항이 나타나는
                  영역입니다. 평가문항이 나타나는 영역입니다.
                </td>
              </tr>
            </table>
          </div>
          <div class="btn-set mt30">
            <button class="com-btn btn-sm bg-gray" type="submit">선택</button>
            <button
              class="com-btn btn-sm bg-white border closePopBtn"
              type="button">닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 리뷰문항매핑_일하는방식리뷰_문항선택팝업 eee -->

  <!-- 리뷰문항매핑_일하는방식리뷰_문항선택팝업 -->
  <div class="compopup-container">
    <div class="com-popup type2 cnt-wrap size-x-sm" id="a4">
      <div class="popup-content cnt">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-title">
          <div class="cnt__head">
            <h3 class="com-title-lg">리뷰문항매핑복사</h3>
          </div>
        </div>
        <div class="popup-body">
          <div class="row">
            <div class="flex gap24 aic jcb">
              <p>리뷰년도</p>
              <ComSelect wid="160" />
            </div>
          </div>
          <div class="btn-set mt30">
            <button class="com-btn btn-sm bg-gray" type="submit">복사</button>
            <button
              class="com-btn btn-sm bg-white border closePopBtn"
              type="button">닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 리뷰문항매핑_일하는방식리뷰_문항선택팝업 eee -->

  <!-- 임원부서장 매핑 정보 업데이트 -->
  <div class="compopup-container">
    <div class="com-popup size-xs-sm" id="a5">
      <div class="popup-content">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-body">
          <p class="txt">
            임원부서장 매핑 정보를 업데이트 합니다. <br />
            부서정보와 부서장의 정보가 업데이트 됩니다.
            <br /><br />
            <strong>업데이트를 진행하시겠습니까?</strong>
          </p>

          <div class="btn-set mt30">
            <button class="com-btn btn-sm bg-main" type="submit">확인</button>
            <button
              class="com-btn btn-sm bg-white border closePopBtn"
              type="button">닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 임원부서장 매핑 정보 업데이트 eee -->

  <!-- 사용자 검색 -->
  <div class="compopup-container">
    <div class="com-popup type2 cnt-wrap size-mid" id="a6">
      <div class="popup-content cnt">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-title">
          <div class="cnt__head">
            <h3 class="com-title-lg">사용자 검색</h3>
          </div>
        </div>
        <div class="popup-body">
          <div class="search-area flex jcb">
            <div class="lef">
              <section class="flex three-item type2">
                <article class="row">
                  <label class="com-label" for="goal-year-select"
                    >사용자명</label
                  >
                  <div class="cont-select w180">
                    <button class="btn-select">옵션</button>
                    <ul class="list-member">
                      <li>
                        <button type="button" class="list-item">Python</button
                        >
                      </li>
                      <li>
                        <button type="button" class="list-item">Java</button>
                      </li>
                      <li>
                        <button type="button" class="list-item"
                          >JavaScript</button
                        >
                      </li>
                      <li>
                        <button type="button" class="list-item">C#</button>
                      </li>
                      <li>
                        <button type="button" class="list-item">C/C++</button>
                      </li>
                    </ul>
                  </div>
                </article>
                <article class="row">
                  <label class="com-label" for="goal-times-select">행번</label
                  >
                  <div class="cont-select w180">
                    <button class="btn-select">옵션</button>
                    <ul class="list-member">
                      <li>
                        <button type="button" class="list-item">Python</button
                        >
                      </li>
                      <li>
                        <button type="button" class="list-item">Java</button>
                      </li>
                      <li>
                        <button type="button" class="list-item"
                          >JavaScript</button
                        >
                      </li>
                      <li>
                        <button type="button" class="list-item">C#</button>
                      </li>
                      <li>
                        <button type="button" class="list-item">C/C++</button>
                      </li>
                    </ul>
                  </div>
                </article>
              </section>
            </div>
            <div class="ref">
              <button type="submit" class="com-btn search-btn">검색</button>
            </div>
          </div>

          <div class="mt20 popDesc" style="display:block">
            ▶ 더블클릭을 하시면 선택항목이 적용됩니다.
          </div>
          <div class="tbl-scroll mt10" style="max-height:250px">
            <div class="com-table">
              <table>
                <thead>
                  <tr>
                    <th>행번</th>
                    <th>사용자</th>
                    <th>부서명</th>
                    <th>직급</th>
                    <th>직택</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                  <tr>
                    <td>dev1</td>
                    <td>dev2</td>
                    <td>본부</td>
                    <td>없음</td>
                    <td>직잭없음</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="btn-set mt25">
            <button
              type="button"
              class="closePopBtn com-btn btn-sm border-gray bg-white"
              >닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 사용자 검색 eee -->

  <!-- 반려사유 -->
  <div class="compopup-container">
    <div class="com-popup type2 cnt-wrap size-sm" id="a7">
      <div class="popup-content cnt">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-title">
          <div class="cnt__head">
            <h3 class="com-title-lg">반려사유</h3>
          </div>
        </div>
        <div class="popup-body">
          <textarea
            style="height:100px"
            class="com-textarea"
            name=""
            id=""
            cols="30"
            rows="10"></textarea>
          <div class="btn-set mt25">
            <button type="button" class="com-btn btn-sm bg-main">확인</button>
            <button
              type="button"
              class="closePopBtn com-btn btn-sm border-gray bg-white"
              >닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 반려사유 eee -->

  <!-- 이의신청 상세 -->
  <div class="compopup-container">
    <div class="com-popup type2 cnt-wrap size-mid" id="a8">
      <div class="popup-content cnt">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-title">
          <div class="cnt__head">
            <h3 class="com-title-lg">이의신청 상세</h3>
          </div>
        </div>
        <div class="popup-body">
          <div class="com-div-table-wrap type-2 mt0">
            <div class="flex-container">
              <div class="flex-column">
                <div class="flex-item">신청구분</div>
                <div class="flex-item bg-white">1차이의신청</div>
              </div>
            </div>
            <div class="flex-container">
              <div class="flex-column">
                <div class="flex-item">이름</div>
                <div class="flex-item bg-white">홍길동</div>
              </div>
            </div>
            <div class="flex-container">
              <div class="flex-column">
                <div class="flex-item">소속</div>
                <div class="flex-item bg-white">IT기획팀</div>
              </div>
            </div>
            <div class="flex-container">
              <div class="flex-column">
                <div class="flex-item">직책</div>
                <div class="flex-item bg-white">팀원원</div>
              </div>
            </div>
            <div class="flex-container">
              <div class="flex-column">
                <div class="flex-item">부서장</div>
                <div class="flex-item bg-white">성춘향</div>
              </div>
            </div>
            <div class="flex-container">
              <div class="flex-column">
                <div class="flex-item">신청일</div>
                <div class="flex-item bg-white">2024.01.22</div>
              </div>
            </div>
          </div>
          <div class="com-table-type2 mt30">
            <table>
              <colgroup>
                <col width="15%" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th><label for="a1">일반배분표</label></th>
                  <td> ee</td>
                </tr>
                <tr>
                  <th><label for="a1">이의신청사유</label></th>
                  <td>
                    <textarea
                      style="height:1100px"
                      class="com-textarea"
                      name=""
                      id=""
                      cols="30"
                      rows="10"></textarea>
                  </td>
                </tr>
                <tr>
                  <th><label for="a1">첨부파일</label></th>
                  <td>
                    <div class="attachment-wrap">
                      <div class="attachment">
                        <span class="filename">홍길동 이의신청.hwp</span>
                        <span class="filesize">[500KB]</span>
                        <a href="#" class="com-btn btn-sm bg-main">다운로드</a
                        >
                      </div>
                      <div class="attachment">
                        <span class="filename">홍길동 이의신청.hwp</span>
                        <span class="filesize">[500KB]</span>
                        <a href="#" class="com-btn btn-sm bg-main">다운로드</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><label for="a1">이의신청결과</label></th>
                  <td>
                    <textarea
                      style="height:100px"
                      class="com-textarea"
                      name=""
                      id=""
                      cols="30"
                      rows="10"></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-set mt25">
            <button type="button" class="com-btn btn-sm bg-gray">저장</button>
            <button
              type="button"
              class="closePopBtn com-btn btn-sm border-gray bg-white"
              >닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 이의신청 상세 eee -->

  <!-- 성과평가라인 엑셀업로드 -->
  <div class="compopup-container">
    <div class="com-popup type2 cnt-wrap size-mid" id="a9">
      <div class="popup-content cnt">
        <button class="close-btn closePopBtn">
          <span class="cross-line"></span>
          <span class="cross-line"></span>
        </button>
        <div class="popup-title">
          <div class="cnt__head">
            <h3 class="com-title-lg">성과평가라인 엑셀업로드</h3>
          </div>
        </div>
        <div class="popup-body">
          <div class="comStepTxt">
            <ul>
              <li>
                <span class="num">01.</span>
                엑셀올리기 버튼을 클릭해서 엑셀파일을 선택합니다.
              </li>
              <li>
                <span class="num">02.</span>
                변경할 내용은 직접 변경할 수 있습니다.
              </li>
              <li>
                <span class="num">03.</span>
                저장 버튼을 클릭시 기존의 저장된 데이터를 모두 삭제한 후 그리드의 내용으로 저장됩니다.
              </li>
            </ul>
          </div>
          <div class="head flex aic jcb mt25">
            <div class="btn-set gap5">
              <button type="button" class="com-btn excel-btn-up">엑셀 올리기</button>
              <button type="button" class="com-btn excel-btn-down">엑셀 내리기</button>
            </div>
            <div class="btn-set gap5">
              <button type="button" class="com-btn add-btn">추가</button>
              <button type="button" class="com-btn btn-sm">저장</button>
            </div>
          </div>
          <div class="btn-set mt25">
            <button
              type="button"
              class="closePopBtn com-btn btn-sm border-gray bg-white"
              >닫기</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 성과평가라인 엑셀업로드 eee -->

  <!-- 공통팝업 eee -->
</div>
<!-- 컨텐츠가 들어갈 부분 eee -->
</Layout>
