---
import MainVisual from '../../components/MainVisual.astro';
import Toast from '../../components/Toast.astro';
import Notice from '../../components/Notice.astro';
import Accordian from '../../components/Accordian.astro';
import ModelSelect from '../../components/ModelSelect.astro';
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사전예약</title>
    <link rel="stylesheet" href="/public/assets/css/common.css" />
    <link rel="stylesheet" href="/public/assets/css/ui.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div id="content" class="content-wrapper preorder-section">
      <main class="container main-container">
        <!-- 사전예약 기간 -->
        <section class="preorder-content">
          <!-- 메인 비쥬얼 -->
          <MainVisual />
          <!-- 메인 비쥬얼 EEE -->

          <!-- 모델 탭 -->
          <ModelSelect />
          <!-- 모델 탭 EEE -->

          <!-- 토스트 -->
          <Toast />
          <!-- 토스트 EEE -->

          <!-- 유의사항 -->
          <Notice />
          <!-- 유의사항 EEE -->

          <!-- 아코디언 -->
          <Accordian />
          <!-- 아코디언 EEE -->
        </section>
      </main>
    </div>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    ></script>
    <script type="module" src="/public/assets/js/main.js"></script>
  </body>
</html>
