---
import MainVisual from '../../components/MainVisual.astro';
import Toast from '../../components/common/Toast.astro';
import Notice from '../../components/Notice.astro';
import ModelSelect from '../../components/ModelSelect.astro';
import PriceComparison from '../../components/PriceComparison.astro';
import PreorderCoupon from '../../components/PreorderCoupon.astro';
import LuckyDraw from '../../components/LuckyDraw.astro';
import DisCountCard from '../../components/DisCountCard.astro';
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사전예약</title>
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/ui.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header th:fragment="header_alarm" class="header_alarm ip283_header_type2">
      <div class="top-area iphone16">
        <h2 class="logo">
          <a
            target="_blank"
            href="https://www.lguplus.com/"
            data-gtm-event-name="link_click"
            data-gtm-event-category="클릭"
            data-gtm-event-action="네비게이터 영역 - 링크 클릭"
            data-gtm-event-label="컨텐츠 : 유플러스닷컴 바로가기"
            data-gtm-click-location="네비게이터 영역"
            data-gtm-click-text="유플러스닷컴 바로가기"
            data-gtm-click-url="https://www.lguplus.com"
            data-gtm-click-direction="외부"
          >
            33
          </a>
        </h2>
      </div>
    </header>

    <div id="content" class="content-wrapper preorder-section">
      <main class="container main-container">
        <!-- 사전예약 기간 -->
        <section class="preorder-content">
          <!-- 메인 비쥬얼 -->
          <MainVisual />
          <!-- 메인 비쥬얼 EEE -->

          <!-- 쿠폰 영역 -->
          <PreorderCoupon />
          <!-- 쿠폰 영역 EEE -->

          <!-- 가격/할인 비교 섹션 -->
          <PriceComparison />
          <!-- 그곳보다가격/할인 비교 섹션 EEE -->

          <!-- 경품/상품 추첨 이벤트 -->
          <LuckyDraw />
          <!-- 경품/상품 추첨 이벤트 EEE -->

          <!-- 휴대폰 교체 혜택 -->
          <DisCountCard />
          <!-- 휴대폰 교체 혜택 EEE -->

          <!-- 뉴 갤럭시 커밍 순 -->
          <section class="new-galaxy-coming-soon common-inner">
            <div class="bg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="360"
                height="294"
                viewBox="0 0 360 294"
                fill="none"
              >
                <g filter="url(#filter0_f_1695_1724)">
                  <path
                    d="M156.316 -240H219.474L330 220H30L156.316 -240Z"
                    fill="url(#paint0_linear_1695_1724)"
                    fill-opacity="0.2"></path>
                </g>
                <defs>
                  <filter
                    id="filter0_f_1695_1724"
                    x="-44"
                    y="-314"
                    width="448"
                    height="608"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix"
                    ></feFlood>
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"></feBlend>
                    <feGaussianBlur
                      stdDeviation="37"
                      result="effect1_foregroundBlur_1695_1724"
                    ></feGaussianBlur>
                  </filter>
                  <linearGradient
                    id="paint0_linear_1695_1724"
                    x1="180"
                    y1="-38.5"
                    x2="180"
                    y2="224"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="white"></stop>
                    <stop offset="1" stop-color="#111111"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <h2 style=" position:relative; left:-7px;">
              <img src="../assets/img/new-galaxy-coming-soon-title.svg" />
            </h2>
            <img
              style="width: 235px!important;"
              src="../assets/img/new-galaxy-coming-soon-img.png"
            />
            <p>
              <img
                style="width: 238.5px!important;"
                src="../assets/img/new-galaxy-coming-soon-txt.png"
              />
            </p>
          </section>
          <!-- 뉴 갤럭시 커밍 순 EEE -->

          <!-- 유의사항 -->
          <Notice />
          <!-- 유의사항 EEE -->
        </section>
      </main>

      <div
        th:fragment="
              footer"
        th:if="${preorderStatus} == 'before'"
      >
      </div>
      <div class="com-alarm-btn-wrp">
        <button
          type="button"
          class="com-alarm-btn"
          onclick="javascript:PreorderCtrl.open();"
          data-gtm-event-name="button_click"
          data-gtm-event-category="클릭"
          data-gtm-event-action="플로팅 영역 - 버튼 클릭"
          data-gtm-event-label="컨텐츠 : 예약신청_01-단계진입_예약하기"
          data-gtm-click-location="플로팅 영역"
          data-gtm-click-text="예약신청_01-단계진입_예약하기"
        >
          <img src="../assets/img/com-alarm-btn-txt.svg" />
        </button>
      </div>
    </div>

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    ></script>
    <script type="module" src="../assets/js/main.js"></script>
  </body>
</html>
