---
import MainVisual from '../../components/MainVisual.astro';
import Notice from '../../components/Notice.astro';
import ModelSelect from '../../components/ModelSelect.astro';
import PriceComparison from '../../components/PriceComparison.astro';
import LuckyDraw from '../../components/LuckyDraw.astro';
import TodayTomorrowTab from '../../components/TodayTomorrowTab.astro';
import BenefitSummary from '../../components/BenefitSummary.astro';
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사전예약</title>
    <link rel="stylesheet" href={`../assets/css/common.css?v=${Date.now()}`} />
    <link rel="stylesheet" href="../assets/css/ui.css" />
    <link rel="stylesheet" href="/src/css/ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div id="content" class="content-wrapper preorder-section">
      <main class="container main-container">
        <!-- 사전예약 기간 -->
        <section class="preorder-content">
          <!-- 메인 비쥬얼 -->
          <MainVisual />
          <!-- 메인 비쥬얼 EEE -->

          <!-- 모델 선택 -->
          <ModelSelect />
          <!-- 모델 선택 EEE -->

          <!-- 오늘 내일 쿠폰 -->
          <TodayTomorrowTab/>
          <!-- 오늘 내일 쿠폰 EEE -->

          <!-- 경품/상품 추첨 이벤트 -->
          <LuckyDraw />
          <!-- 경품/상품 추첨 이벤트 EEE -->

          <!-- 혜택 요약 섹션 -->
          <BenefitSummary />
          <!-- 혜택 요약 섹션 EEE -->
     
          <!-- 가격/할인 비교 섹션 -->
          <PriceComparison />
          <!-- 그곳보다가격/할인 비교 섹션 EEE -->

          <!-- 유의사항 -->
          <Notice />
          <!-- 유의사항 EEE -->
        </section>
      </main>
    </div>

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    ></script>
    <script 
      is:inline
      src="https://unpkg.com/aos@next/dist/aos.js"
    ></script>
    <script is:inline>
      window.addEventListener('DOMContentLoaded', function() {
        if (typeof AOS !== 'undefined') {
          AOS.init();
        }
      });
    </script>
    <script type="module" src="../assets/js/main/main.js"></script>
  </body>
</html>
