---
import MainVisual from '../../components/MainVisual.astro';
import Toast from '../../components/common/Toast.astro';
import Notice from '../../components/Notice.astro';
import ModelSelect from '../../components/ModelSelect.astro';
import PriceComparison from '../../components/PriceComparison.astro';
import PreorderCoupon from '../../components/PreorderCoupon.astro';
import LuckyDraw from '../../components/LuckyDraw.astro';
import DisCountCard from '../../components/DisCountCard.astro';
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사전예약</title>
    <link rel="stylesheet" href="/public/assets/css/pc/common.css" />
    <link rel="stylesheet" href="/public/assets/css/pc/ui.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header th:fragment="header_alarm" class="header_alarm ip283_header_type2">
      <div class="top-area iphone16">
        <h2 class="logo">
          <a
            target="_blank"
            href="https://www.lguplus.com/"
            data-gtm-event-name="link_click"
            data-gtm-event-category="클릭"
            data-gtm-event-action="네비게이터 영역 - 링크 클릭"
            data-gtm-event-label="컨텐츠 : 유플러스닷컴 바로가기"
            data-gtm-click-location="네비게이터 영역"
            data-gtm-click-text="유플러스닷컴 바로가기"
            data-gtm-click-url="https://www.lguplus.com"
            data-gtm-click-direction="외부"
          >
            33
          </a>
        </h2>
      </div>
    </header>

    <div id="content" class="content-wrapper preorder-section">
      <main class="container main-container">
        <!-- 사전예약 기간 -->
        <section class="preorder-content">
          <!-- 메인 비쥬얼 -->
          <MainVisual />
          <!-- 메인 비쥬얼 EEE -->

          <!-- 쿠폰 영역 -->
          <PreorderCoupon />
          <!-- 쿠폰 영역 EEE -->

          <!-- 가격/할인 비교 섹션 -->
          <PriceComparison />
          <!-- 그곳보다가격/할인 비교 섹션 EEE -->

          <!-- 경품/상품 추첨 이벤트 -->
          <LuckyDraw />
          <!-- 경품/상품 추첨 이벤트 EEE -->

          <!-- 휴대폰 교체 혜택 -->
          <DisCountCard />
          <!-- 휴대폰 교체 혜택 EEE -->

          <!-- 유의사항 -->
          <Notice />
          <!-- 유의사항 EEE -->

          <!-- 갤럴시 모델 종류 탭 -->
          <ModelSelect />
          <!-- 갤럴시 모델 종류 탭 EEE -->

          <div th:fragment="footer" th:if="${preorderStatus} == 'before'">
            <div class="type2 preorder" id="btnAlarm">
              <div class="click_trigger">
                <button
                  type="button"
                  class="alarm-btn preorder"
                  onclick="javascript:PreorderCtrl.open();"
                  data-gtm-event-name="button_click"
                  data-gtm-event-category="클릭"
                  data-gtm-event-action="플로팅 영역 - 버튼 클릭"
                  data-gtm-event-label="컨텐츠 : 예약신청_01-단계진입_예약하기"
                  data-gtm-click-location="플로팅 영역"
                  data-gtm-click-text="예약신청_01-단계진입_예약하기"
                >
                  예약하기
                </button>
              </div>
            </div>
          </div>

          <!-- 공통 alert -->
          <button class="com-alert-btn" data-title="2344" data-content="coupon"
            >공통알랏</button
          >
          <button class="com-alert-btn" data-title="2424" data-content="prize"
            >공통알랏2</button
          >
          <button
            class="com-alert-btn"
            data-title="2424"
            data-custom-content="true"
            data-model="retailPrice">공통알랏3</button
          >
          <button
            class="com-alert-btn"
            data-title="2424"
            data-custom-content="true"
            data-model="carrierPrice">공통알랏4</button
          >
          <button
            class="com-alert-btn"
            data-title="2424"
            data-custom-content="true"
            data-model="competitorPrice">공통알랏4</button
          >
          <!-- 공통 alert EEE -->
        </section>
      </main>
      <script
        is:inline
        src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
      ></script>
      <script type="module" src="/public/assets/js/main.js"></script>
    </div>
  </body>
</html>
