footer#footer.footer {
  padding-left: 30px;
  background: #BBBBBB 0% 0% no-repeat padding-box;
  height: 70px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  /* left: 0; */
  width: 100%;
  bottom: 0;
  div.flex.gap60 {
    div.fot-logo {
    }

    p {
      font: normal normal normal 14px/1.5 Pretendard;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }
}




