#login {
  .content-body {
    margin-left: 0;
  }
  #wrap {
    display: block;
  }
}
#wrap {
  display: flex;
  // max-height: 100vh;
  min-width: 1400px;
  min-height: 100vh;
  > section {
    min-height: 800px;
  }
}
.container {
  display: flex;
  align-items: initial;
}
.content-body {
  flex: 1;
  position: relative;
  // max-width: calc(100% - 260px);
}
.header,
.footer {
  // min-width: 1900px;
}
.sub-cnt {
  padding: 20px 30px;
}
.cnt-wrap {
  flex: 0 0 calc(100% - 250px);
  padding: 20px 30px;
  background: #eeeeee;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
  // padding-bottom: 95px;
  .cnt {
    margin-bottom: 20px;

    .cnt__head {
      background: var(--main-color) 0% 0% no-repeat padding-box;
      border-radius: 5px 5px 0px 0px;
      height: 54px;
      display: flex;
      align-items: center;
      padding-left: 1.875rem;
      &.type1 {
        padding-left: 1.875rem;
        background: #fff;
        border-bottom: 1px solid #b2ddff;
      }
      h3 {
        font: normal normal 600 24px/29px Pretendard;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }

    .cnt__body {
      opacity: 1;
      padding: 1.875rem;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 0 0 10px 10px;
    }
  }
}
.wid100 {
  width: 100% !important;
}
.minWid100 {
  min-width: 100% !important;
}
.com-label {
  flex: none;
  font: normal normal 600 16px/19px Pretendard;
  letter-spacing: 0px;
  color: #222222;
  min-width: 72px;
  text-align: right;
}
.search-area {
  padding: 1rem;
  background: var(--sec-color);
  border: 1px solid var(--adjusted-color);
  border-radius: 4px;
  box-sizing: border-box;
  gap: 20px;
  .lef {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &.f33 {
      gap: 100px;
    }
    .row {
      display: flex;
      align-items: center;
      gap: 20px;
      flex: 1;
      max-width: 297px;
      .com-select {
        width: 100%;
      }
    }
  }
}
.com-date-range {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    margin: 0 10px;
    font: normal normal 600 20px/29px Pretendard;
    letter-spacing: 0px;
    color: #bbbbbb;
  }
  .com-input {
    background: #fff;
  }
  &.type-2 {
    span {
      color: #000;
    }
    .calendar-icon {
      filter: brightness(0.2);
    }
  }
}

.com-date-range .calendar-icon {
  cursor: pointer;
  margin-left: 5px !important;
}

.tab-contents {
  .cnt__body {
    display: none;
    border-radius: 0 0 10px 10px !important;
    &:first-of-type {
      display: block;
    }
  }
}

@media (max-width: 1600px) {
  .search-area .lef .row {
    max-width: 220px;
    .cont-select,
    .com-input {
      width: 128px !important;
      flex: 1 1 128px !important;
      select {
        width: 128px !important;
        flex: 1 1 128px !important;
      }
    }
  }

  .search-area {
    padding: 1rem !important;
  }
}
