.gnb-wrap {
  flex: 0 0 250px;
}
.gnb {
  @include make-before {
    width: 70px;
    height: calc(100% - 50px);
    background: var(--main-color);
    position: absolute;
    z-index: -1;
  }
  .gnbItem,
  .all-menu {
    width: 72px;
    &:last-of-type {
      a {
        padding-bottom: 0;
      }
    }
    > a {
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 9px;
      padding-top: 27px;
      background-repeat: no-repeat;
      img {
        display: block;
        margin: 0 auto;
      }
      span {
        margin-top: 8px;
        display: block;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }

    .subMenu {
      margin-top: 20px;
      display: none;
      position: absolute;
      top: 38px;
      left: 70px;
      width: 180px;
      z-index: 10;
      padding: 12px 0;
      box-sizing: border-box;
      height: calc(100% - 116px);
      > li {
        > a {
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 0px;
          color: #666666;
        }
      }
    }
  }
  .all-menu {
    padding-top: 30px;
    margin-bottom: 20px;
    >a {
      display: block;
      background-image: url('../../assets/img/nav1.svg');
      background-repeat: no-repeat;
      background-position: center 0px;
    }
  }
}

@for $i from 1 through 9 {
  .gnbItem:nth-child(#{$i}) {
    margin-bottom: 10px;
    > a {
      background-image: url('../../assets/img/nav#{$i}.svg');
      background-repeat: no-repeat;
      background-position: center 11px;
      display: flex;
      padding-top: 36px;
    }
    &:hover:not(:first-child) {
      > a {
        display: block;
        background: #fff url('../../assets/img/nav#{$i}_hover.svg') no-repeat;
        background-position: center 11px;
        border-radius: 15px 0 0 15px;
        span {
          color: var(--main-color);
          font-weight: bold;
        }
      }
    }
    &.on:not(:first-child) {
      > a {
        display: block;
        background: #fff url('../../assets/img/nav#{$i}_hover.svg') no-repeat;
        background-position: center 11px;
        border-radius: 15px 0 0 15px;
        span {
          color: var(--main-color);
          font-weight: bold;
        }
      }
      .subMenu {
        display: block;
        > li {
          &.on,
          &:hover {
            > a {
              background: var(--third-color);
              color: #fff;
              font-weight: 500;
            }
          }
          > a {
            display: block;
            padding: 12px 20px;
            border-radius: 0;
          }
        }
      }
      .subSubMenu {
        > li {
          opacity: 1;
          a {
            @include make-after {
              position: absolute;
              @include poy;
              left: 19px;
              border-radius: 50%;
              width: 5px;
              height: 5px;
              background: #aaa;
            }
            position: relative;
            display: block;
            padding: 3px 0;
            padding-left: 30px;
            font: normal normal normal 14px/1.6 Pretendard;
            letter-spacing: 0px;
            color: #999999;
            // transition: all 0.2s;
            &:hover {
              color: var(--main-color);
              font-weight: bold;
              &::after {
                background: var(--main-color);
              }
            }
          }
        }
      }
    }

    // &:hover:not(:first-child)
  }
}


.all-menu {
  position: relative;
}

.menu-content {
  display: none;
  position: absolute;
  top: 5px;
  left: 75px;
  z-index: 999;
}

/* 최상위 메뉴 항목 */
.menu-content > ul {
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: 1250px;
  padding-top: 13px;
  padding-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.menu-content > ul > li {
  flex:auto;
}
.menu-content > ul > li > a {
  position: relative;
  display: block;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 20px;
  font-weight: bold;
  @include make-before{
    display: inline-block;
    position: relative;
    top: 2px;
    width: 4px;
    height: 19px;
    background: #0092E5;
    margin-right: 1px;
    top: 2px;
  }
}

.menu-content > ul > li > a:hover {
  color: $main-color;
}

/* 하위 메뉴 항목 */
.menu-content ul ul {
  list-style-type: none;
  padding-left: 20px;
}
.menu-content ul ul li > a::before{
  content: '-';
  display: inline-block;
  margin-right: 3px;
}
.menu-content > ul ul > li a {
  display: block;
  padding: 14px 20px;
  padding-left: 0px;
  padding-right: 0;
  color: #666;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: 500;
}

.menu-content ul ul li a:hover {
  color: $main-color;
}

/* 더 깊은 하위 메뉴 항목 */
.menu-content ul ul ul {
  padding-left: 20px;
}
.menu-content ul ul ul li  > a::before{
  content: '·';
  display: inline-block;
  margin-right: 3px;
}

.menu-content ul ul ul li a {
  color: #888;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 0px;
}

