<article class="benefit-summary">
  <div class="coupon-amount common-inner">
    <img
      style="width: 211px !important"
      src="../assets/img/benefit-title.png"
      alt="쿠폰 선착순!"
      class="amount-title"
    />

    <!-- 혜택 스와이퍼 1 -->
    <div class="benefit-group">
      <div class="amount-wrap">
        <span class="amount-title2">
          <em>01</em> 금액 할인 <span>3가지</span>
        </span>
      </div>
      <div class="benefit-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="benefit-box">
              <div class="img-wrp">
                <img
                  src="../assets/img/benefit1-1.png"
                  alt="할인 아이콘"
                  style="width: 100px!important; "
                />
              </div>
              <p>지금제보다,<br />15% 또 할인</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>선착순<br />4만원</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>추가 혜택<br />증정</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>추가 혜택<br />증정</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>추가 혜택<br />증정</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>추가 혜택<br />증정</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 혜택 스와이퍼 2 -->
    <div class="benefit-group">
      <div class="benefit-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>카드 혜택<br />최대 12만원</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>무이자<br />12개월</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>추가 캐시백<br />5만원</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 혜택 스와이퍼 3 -->
    <div class="benefit-group">
      <div class="benefit-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>갤럭시 버즈<br />증정</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>무선충전기<br />증정</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="benefit-box">
              <p>케이스<br />증정</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion">
      <!-- 기존 아코디언 내용 유지 -->
    </div>
  </div>
</article>
