---
interface Props{
  id : string;
  wid : string;
}
const {id,wid} = Astro.props;
---

<div class=`cont-select w${wid}`>
  <button class="btn-select">옵션</button>
  <ul class="list-member">
      <li><button type="button" class="list-item">Python</button></li>
      <li><button type="button" class="list-item">Java</button></li>
      <li><button type="button" class="list-item">JavaScript</button></li>
      <li><button type="button" class="list-item">C#</button></li>
      <li><button type="button" class="list-item">C/C++</button></li>
  </ul>
</div>