---
interface Props{
  id : string;
  id2 : string;
}
const {id,id2} = Astro.props;
---

<div class="com-date-range">
  <input
    type="text"
    id={id}
    class="com-input input-mid border-gray w120 datepicker-input"
    placeholder="YYYY.MM.DD"
  />
  <img
    class="calendar-icon datepicker-button"
    src="../assets/img/date-icon.svg"
    alt="calendar-icon"
  />
  <span>~</span>
  <input
    type="text"
    id={id2}
    class="com-input input-mid border-gray w120 datepicker-input"
    placeholder="YYYY.MM.DD"
  />
  <img
    class="calendar-icon datepicker-button"
    src="../assets/img/date-icon.svg"
    alt="calendar-icon"
  />
</div>

