<article class="main-visual">
  <div class="visual-content" style="position: relative;">
    <div
      class="bg-swiper"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="100"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div style="width: 360px; height: 331px; position: relative;">
            <div
              style="position: absolute; top: 70%; left: 23%; width: 182px; height: 143px; background: #FF008B; border-radius: 50%; filter: blur(47px); opacity: 0.7; animation: pulse 2s infinite;"
            >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div style="width: 360px; height: 331px; position: relative;">
            <div
              style="position: absolute; top: 70%; left: 23%; width: 182px; height: 143px; background: #FF008B; border-radius: 50%; filter: blur(47px); opacity: 0.7; animation: pulse 2s infinite;"
            >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div style="width: 360px; height: 331px; position: relative;">
            <div
              style="position: absolute; top: 70%; left: 23%; width: 182px; height: 143px; background: #32FB6F; border-radius: 50%; filter: blur(60px); opacity: 0.7; animation: pulse 2s infinite;"
            >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div style="width: 360px; height: 331px; position: relative;">
            <div
              style="position: absolute; top: 70%; left: 23%; width: 182px; height: 143px; background: #FF008B; border-radius: 50%; filter: blur(47px); opacity: 0.7; animation: pulse 2s infinite;"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="price-swiper swiper"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="500"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../assets/img/visual-main-title01.svg" />
        </div>
        <div class="swiper-slide">
          <img src="../assets/img/visual-main-title02.svg" />
        </div>
        <div class="swiper-slide">
          <img src="../assets/img/visual-main-title03.svg" />
        </div>
        <div class="swiper-slide">
          <img src="../assets/img/visual-main-title04.svg" />
        </div>
      </div>
    </div>
    <div
      class="top-info"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="700"
    >
      <div class="main-visual-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              style="width: 158px!important;"
              src="../assets/img/visual-main-img01.png"
            />
          </div>
          <div class="swiper-slide" style="position: relative; top: 15px;">
            <img
              style="width: 272px!important;"
              src="../assets/img/visual-main-img02.png"
            />
          </div>
          <div class="swiper-slide" style="position: relative; top: 15px;">
            <img
              style="width: 216px!important;"
              src="../assets/img/visual-main-img03.png"
            />
          </div>
          <div class="swiper-slide" style="position: relative; top: 15px;">
            <img
              style="width: 240px!important;"
              src="../assets/img/visual-main-img04.png"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <svg
      width="340"
      height="124"
      viewBox="0 0 340 124"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; z-index: 0; bottom: -4.875rem; left: 50%; transform: translateX(-50%);"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M299.036 30.7227H40.9639L0 98.313C0 112.453 76.1116 123.915 170 123.915C263.888 123.915 340 112.453 340 98.313L299.036 30.7227Z"
        fill="url(#paint0_linear_4051_1629)"></path>
      <ellipse
        cx="170"
        cy="32.259"
        rx="129.036"
        ry="32.259"
        fill="url(#paint1_linear_4051_1629)"></ellipse>
      <defs>
        <linearGradient
          id="paint0_linear_4051_1629"
          x1="4.33535"
          y1="13.7354"
          x2="334.643"
          y2="13.7354"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FDFCFD"></stop>
          <stop offset="1" stop-color="#F678B0"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_4051_1629"
          x1="40.9639"
          y1="32.259"
          x2="299.036"
          y2="32.259"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FEC2DB"></stop>
          <stop offset="1" stop-color="#FEC2DB"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</article>
