---
interface Props {
  promotionText?: string;
  mainText?: string;
  prices?: string[];
  dateText?: string;
  tipText?: string;
}

const {
  mainText = '알람 신청하면',
  prices = ['200,000원', '300,000원', '400,000원'],
} = Astro.props;
---

<article class="main-visual">
  <div class="visual-content">
    <div class="top-info">
      <div class="main-visual-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              style="width: auto;"
              src="/public/assets/img/main-slide-img01.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              style="width: auto;"
              src="/public/assets/img/main-slide-img02.png"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="price-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img style="width: auto;" src="/public/assets/img/main-slide01.png" />
        </div>
        <div class="swiper-slide">
          <img style="width: auto;" src="/public/assets/img/main-slide02.png" />
        </div>
      </div>
    </div>
    <div class="mid-info">
      <div class="date"><em>~</em> 1.23. <span>(목)</span></div>
    </div>
  </div>
</article>

<!-- 네비게이션 버튼 추가 -->
<!-- <nav class="section-nav">
    <ul class="nav-list">
      <li>
        <a href="#priceComparison" class="nav-link">
          <span class="text">쿠폰 20만원</span>
        </a>
      </li>
      <li>
        <a href="#benefit" class="nav-link">
          <span class="text">예상 할인가</span>
        </a>
      </li>
      <li>
        <a href="#delivery" class="nav-link">
          <span class="text">배송 경품</span>
        </a>
      </li>
      <li>
        <a href="#special" class="nav-link">
          <span class="text">스파이패밀리</span>
        </a>
      </li>
    </ul>
  </nav> -->
