<article class="main-visual">
  <div class="visual-content" style="position: relative;">
    <div class="bg-swiper" data-aos="fade-up" data-aos-duration="1000">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div style="width: 360px; height: 331px; position: relative;">
            <div
              style="position: absolute; top: 70%; left: 23%; width: 182px; height: 143px; background: #FF008B; border-radius: 50%; filter: blur(47px); opacity: 0.7; animation: pulse 2s infinite;"
            >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div style="width: 360px; height: 331px; position: relative;">
            <div
              style="position: absolute; top: 70%; left: 23%; width: 182px; height: 143px; background: #FF008B; border-radius: 50%; filter: blur(47px); opacity: 0.7; animation: pulse 2s infinite;"
            >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div style="width: 360px; height: 331px; position: relative;">
            <div
              style="position: absolute; top: 70%; left: 23%; width: 182px; height: 143px; background: #32FB6F; border-radius: 50%; filter: blur(60px); opacity: 0.7; animation: pulse 2s infinite;"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-img"
      data-aos="fade-down"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <img src="../assets/img/visual-sub-title.svg" />
    </div>
    <div
      class="price-swiper swiper"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="400"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            style="width: 225px!important;"
            src="../assets/img/visual-main-title01.svg"
          />
        </div>
        <div class="swiper-slide">
          <img
            style="width: 303px!important;"
            src="../assets/img/visual-main-title02.svg"
          />
        </div>
        <div class="swiper-slide">
          <img
            style="width: 219px!important;"
            src="../assets/img/visual-main-title03.svg"
          />
        </div>
      </div>
    </div>
    <div
      class="top-info"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="600"
    >
      <div class="main-visual-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              style="width: 158px!important;"
              src="../assets/img/visual-main-img01.png"
            />
          </div>
          <div class="swiper-slide" style="position: relative; top: 15px;">
            <img
              style="width: 272px!important;"
              src="../assets/img/visual-main-img02.png"
            />
          </div>
          <div class="swiper-slide" style="position: relative; top: 15px;">
            <img
              style="width: 216px!important;"
              src="../assets/img/visual-main-img03.png"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div
      style="content: ''; position: absolute; z-index: 0; bottom: -4.875rem; left: 50%; transform: translateX(-50%); background: url(../assets/img/bg-main-visual.png) no-repeat center; width: 20.75rem; height: 7.5625rem; background-size: cover;"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="1000"
    >
    </div>
  </div>
</article>
