<article class="main-visual">
  <div class="visual-content">
    <div class="bg-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="360"
            height="331"
            viewBox="0 0 360 331"
            fill="none"
            class="animate-pulse"
          >
            <g filter="url(#filter0_f_4051_1627)">
              <path
                d="M276 185.105C276 235.421 236.41 237 186.152 237C135.894 237 94 235.421 94 185.105C94 134.789 134.742 94 185 94C235.258 94 276 134.789 276 185.105Z"
                fill="#FF008B">
                <animate
                  attributeName="opacity"
                  values="0.3;1;0.3"
                  dur="1.5s"
                  repeatCount="indefinite"
                />
                <animate
                  attributeName="transform"
                  values="scale(0.9);scale(1.1);scale(0.9)"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
            </g>
            <defs>
              <filter
                id="filter0_f_4051_1627"
                x="0"
                y="0"
                width="370"
                height="331"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
                <feGaussianBlur
                  stdDeviation="47"
                  result="effect1_foregroundBlur_4051_1627"></feGaussianBlur>
              </filter>
            </defs>
          </svg>
        </div>
        <div class="swiper-slide">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="360"
            height="331"
            viewBox="0 0 360 331"
            fill="none"
            class="animate-pulse"
          >
            <g filter="url(#filter0_f_4051_1627)">
              <path
                d="M276 185.105C276 235.421 236.41 237 186.152 237C135.894 237 94 235.421 94 185.105C94 134.789 134.742 94 185 94C235.258 94 276 134.789 276 185.105Z"
                fill="#FF008B">
                <animate
                  attributeName="opacity"
                  values="0.3;1;0.3"
                  dur="1.5s"
                  repeatCount="indefinite"
                />
                <animate
                  attributeName="transform"
                  values="scale(0.9);scale(1.1);scale(0.9)"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
            </g>
            <defs>
              <filter
                id="filter0_f_4051_1627"
                x="0"
                y="0"
                width="370"
                height="331"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
                <feGaussianBlur
                  stdDeviation="47"
                  result="effect1_foregroundBlur_4051_1627"></feGaussianBlur>
              </filter>
            </defs>
          </svg>
        </div>
        <div class="swiper-slide">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="360"
            height="331"
            viewBox="0 0 360 331"
            fill="none"
            class="animate-pulse"
          >
            <g filter="url(#filter0_f_4051_6429)">
              <path
                d="M276 185.105C276 235.421 236.41 237 186.152 237C135.894 237 94 235.421 94 185.105C94 134.789 134.742 94 185 94C235.258 94 276 134.789 276 185.105Z"
                fill="#32FB6F"
                fill-opacity="0.7">
                <animate
                  attributeName="opacity"
                  values="0.3;1;0.3"
                  dur="1.5s"
                  repeatCount="indefinite"
                />
                <animate
                  attributeName="transform"
                  values="scale(0.9);scale(1.1);scale(0.9)"
                  dur="2s"
                  repeatCount="indefinite"
                />
              </path>
            </g>
            <defs>
              <filter
                id="filter0_f_4051_6429"
                x="0"
                y="0"
                width="370"
                height="331"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
                <feGaussianBlur
                  stdDeviation="60"
                  result="effect1_foregroundBlur_4051_6429"></feGaussianBlur>
              </filter>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    <div class="top-img">
      <img src="../assets/img/visual-sub-title.svg" />
    </div>
    <div class="price-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            style="width: 225px!important;"
            src="../assets/img/visual-main-title01.svg"
          />
        </div>
        <div class="swiper-slide">
          <img
            style="width: 303px!important;"
            src="../assets/img/visual-main-title02.svg"
          />
        </div>
        <div class="swiper-slide">
          <img
            style="width: 219px!important;"
            src="../assets/img/visual-main-title03.svg"
          />
        </div>
      </div>
    </div>
    <div class="top-info">
      <div class="main-visual-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              style="width: 158px!important;"
              src="../assets/img/visual-main-img01.png"
            />
          </div>
          <div class="swiper-slide" style="position: relative; top: 15px;">
            <img
              style="width: 272px!important;"
              src="../assets/img/visual-main-img02.png"
            />
          </div>
          <div class="swiper-slide" style="position: relative; top: 15px;">
            <img
              style="width: 216px!important;"
              src="../assets/img/visual-main-img03.png"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</article>
