<article class="main-visual">
  <!-- 배경 슬라이드 추가 -->
  <div class="bg-swiper swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          style="width: 360px!important;"
          src="../assets/img/bg-main-visual01.png"
        />
      </div>
      <div class="swiper-slide">
        <img
          style="width: 360px!important;"
          src="../assets/img/bg-main-visual02.png"
        />
      </div>
    </div>
  </div>

  <div class="visual-content">
    <div class="top-img">
      <img src="../assets/img/NewGalaxy-txt.svg" />
    </div>
    <div class="price-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            style="width: 197px!important;"
            src="../assets/img/main-slide01.svg"
          />
        </div>
        <div class="swiper-slide">
          <img
            style="width: 223px!important;"
            src="../assets/img/main-slide02.svg"
          />
        </div>
      </div>
    </div>
    <div class="mid-info">
      <div class="date"><em>~</em> 1.23. <span>(목)</span></div>
    </div>
    <div class="top-info">
      <div class="main-visual-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              style="width: 198.5px!important; position:relative; top:-27px"
              src="../assets/img/main-slide-img01.png"
            />
          </div>
          <div class="swiper-slide">
            <img
              style="width: 198px!important;"
              src="../assets/img/main-slide-img02.png"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</article>
