---
import Accordian from './common/Accordian.astro';
---

<article class="preorder-coupon common-inner">
  <div class="first-landing-coupon">
    <div class="coupon-header">
      <h2 class="coupon-title">선착순 랜딩 쿠폰</h2>
      <p class="coupon-subtitle">당첨금: 최대 20만원</p>
    </div>

    <div class="coupon-content">
      <img
        src="http://175.45.205.228/mobile/img/main/iphone16/keyvisual/keyvisual_03.png"
        alt=""
      />
    </div>

    <button
      class="common-btn"
      data-gtm-click-location="사전예약 콘텐츠 영역"
      data-gtm-click-text="예약신청_01-단계진입_오늘의 혜택 받고 예약하기"
      data-gtm-event-action="사전예약 콘텐츠 영역 - 버튼 클릭"
      data-gtm-event-category="클릭"
      data-gtm-event-label="컨텐츠 : 예약신청_01-단계진입_오늘의 혜택 받고 예약하기"
      data-gtm-event-name="button_click"
      type="button"
      >오늘의 혜택 받고 예약하기<i class="icon"></i>
    </button>

    <!-- 아코디언 -->
    <Accordian>
      여기에 내용 여기에 내용 여기에 내용 여기에 내용 여기에 내용
    </Accordian>
    <!-- 아코디언 EEE -->
  </div>
</article>
