<article class="priceComparison common-inner" id="priceComparison">
  <div class="price-wrp">
    <div class="price-header">
      <h2 class="title">
        <img
          style="width: 135px !important;"
          src="../assets/img/priceComparison-title.png"
        />
      </h2>
      <h3 class="sub-title">
        <img src="../assets/img/priceComparison-sub-title.svg" />
      </h3>
    </div>
    <div class="price-content">
      <p class="price-description">
        <span>정가</span>를 다 냈을 때 보다<br />
      </p>
      <p class="price-savings">
        <em>약</em>
        <strong
          class="savings-amount"
          data-target="1500000"
          data-duration="1800">0</strong
        > 원
      </p>
      <span class="txt">절약할 수 있어요</span>
      <p class="price-note">※ S24 Ultra 256GB 모든 혜택 적용 시</p>
    </div>

    <div class="price-range-container">
      <div class="price-range">
        <div class="range-label original">
          <span class="label-text">
            <img src="../assets/img/priceComparison-정가.svg" />
          </span>
          <span class="price-text">
            <img src="../assets/img/priceComparison-유플닷컴.svg" />
          </span>
        </div>
        <div class="range-bar">
          <div class="range-bar-fill"></div>
          <div class="range-bar-fill second"></div>
          <div class="range-progress"></div>
        </div>
        <div class="range-label uplus">
          <span class="price-text">약 160만원 대</span>
          <span class="label-text">약 10만원 대</span>
        </div>
      </div>
    </div>
  </div>
  <div class="common-btn-wrp">
    <button
      class="common-btn"
      data-gtm-click-location="사전예약 콘텐츠 영역"
      data-gtm-click-text="예약신청_01-단계진입_오늘의 혜택 받고 예약하기"
      data-gtm-event-action="사전예약 콘텐츠 영역 - 버튼 클릭"
      data-gtm-event-category="클릭"
      data-gtm-event-label="컨텐츠 : 예약신청_01-단계진입_오늘의 혜택 받고 예약하기"
      data-gtm-event-name="button_click"
      type="button"
    >
      돈이 되는 알람 받기
      <i class="arrow-right animate"></i>
    </button>
  </div>
</article>
