<div class="tab-group">
  <div class="common-inner common-tabs common-tab-menu-wrp">
    <ul class="common-tab-menu">
      <li class="common-tab-menu-item active" data-tab="tab1">Tab1</li>
      <li class="common-tab-menu-item" data-tab="tab2">Tab2</li>
      <li class="common-tab-menu-item" data-tab="tab3">Tab3</li>
    </ul>

    <div class="common-tab-content active" id="tab1">
      <div class="price-wrp">
        <div class="price-header">
          <h2 class="title">자급제 와 비교했을 때</h2>
          <div class="price-info">
            <strong class="highlight-price">약 1,400,000 원</strong>
            <span class="price-caption">이값은 뭔가요?</span>
          </div>
          <p class="model-info">* S25 Ultra 256GB 모든 혜택 적용 시</p>
        </div>

        <div class="price-range-container">
          <div class="price-range">
            <div class="range-label current">
              <span class="label-text">유플러스</span>
              <span class="price-text">약 10만원대</span>
            </div>

            <div class="range-bar">
              <div class="range-progress"></div>
            </div>

            <div class="range-label target">
              <span class="label-text">자급제</span>
              <span class="price-text">약 150만원대</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="common-tab-content" id="tab2">
      <p>Tab2 Content</p>
    </div>
    <div class="common-tab-content" id="tab3">
      <p>Tab3 Content</p>
    </div>
  </div>
</div>
