<article class="priceComparison common-inner" id="priceComparison">
  <div class="price-wrp">
    <div class="price-header">
      <h2
        class="title aos-animate"
        data-aos="fade-down"
        data-aos-duration="800"
      >
        <img
          style="width: 229px !important"
          src="../assets/img/priceComparison-title02.png"
          loading="lazy"
        />
      </h2>
    </div>

    <div data-aos="fade-up" data-aos-duration="800" class="aos-animate">
      <div class="price-content">
        <p class="price-description">
          <span>출고가</span>와 비교했을 때<br />
        </p>
        <p class="price-savings">
          <em>약</em>
          <strong
            class="savings-amount"
            data-duration="3000"
            data-target="1400000">1,400,000</strong
          >
          원
        </p>
        <span class="txt">아낄 수 있어요.</span>
        <p class="price-note">※ S25 Ultra 256GB 모든 혜택 적용 시</p>
      </div>

      <div class="price-range-container">
        <div class="price-range">
          <div class="range-label original">
            <span class="label-text">
              <img
                src="../assets/img/priceComparison-지급제.svg"
                loading="lazy"
              />
            </span>
            <span class="price-text">
              <img
                src="../assets/img/priceComparison-유플닷컴.svg"
                loading="lazy"
              />
            </span>
          </div>
          <div class="range-bar">
            <div class="range-bar-fill"></div>
            <div class="range-bar-fill second"></div>
            <div class="range-progress"></div>
          </div>
          <div class="range-label uplus">
            <span class="price-text">약 150만원 대</span>
            <span class="label-text">약 10만원 대</span>
          </div>
        </div>
      </div>

      <div
        class="common-btn-wrp"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="300"
      >
        <button
          class="common-btn"
          data-gtm-click-location="사전알람 콘텐츠 영역"
          data-gtm-click-text="알람신청_01-단계진입_돈이 되는 알람 받기"
          data-gtm-event-action="사전알람 콘텐츠 영역 - 버튼 클릭"
          data-gtm-event-category="클릭"
          data-gtm-event-label="컨텐츠 : 알람신청_01-단계진입_돈이 되는 알람 받기"
          data-gtm-event-name="button_click"
          onclick="ALARM.oepnEvtPag();"
          type="button"
        >
          이렇게 혜택 적용 받기
          <i class="arrow-right animate"></i>
        </button>
      </div>
    </div>
  </div>
</article>
