<article class="today-tomorrow-section">
  <div class="tab-group today-tomorrow-tab">
    <!-- 탭 메뉴 -->
    <ul class="common-tabs">
      <li class="common-tab-menu-item active" data-tab="today">오늘</li>
      <li class="common-tab-menu-item" data-tab="tomorrow">내일</li>
    </ul>

    <!-- 탭 컨텐츠 -->
    <div class="tab-contents">
      <!-- 오늘 탭 컨텐츠 -->
      <div id="today" class="common-tab-content active">1</div>
      <!-- 내일 탭 컨텐츠 -->
      <div id="tomorrow" class="common-tab-content">2</div>
    </div>
  </div>
</article>
