<article class="today-benefit-content common-inner">
  <div class="today-benefit-header">
    <div
      class="today-benefit-title"
      data-aos="fade-up"
      data-aos-duration="800"
      data-aos-delay="100"
    >
      <img
        style="width: 272px!important;"
        src="../assets/img/today-benefit-title.svg"
        alt="오늘 예약자 특혜 무료 용량 업그레이드!"
      />
    </div>
  </div>

  <div
    class="today-benefit-items"
    data-aos="fade-up"
    data-aos-duration="800"
    data-aos-delay="200"
  >
    <div class="benefit-item">
      <img
        style="width: 312px!important;"
        src="../assets/img/memory-upgrade.png"
        alt="15만원 추가 시 1TB 업그레이드"
      />
    </div>
    <div class="benefit-item">
      <img
        style="width: 312px!important;"
        src="../assets/img/storage-upgrade.png"
        alt="256GB에서 시 512GB 제공"
      />
    </div>
  </div>
</article>
