@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// px을 rem으로 변환하는 함수
@function rem($px) {
  @return calc($px / 16) + rem;
}

:root {
  font-size: 15px; // 기본 폰트 사이즈 고정

  @media screen and (min-width: 360px) {
    font-size: 16px; // 360 이상일대로 폰트 사이즈 고정
  }
}
/* ==================== */
/*      컨텐츠         */
/* ==================== */
.preorder-section {
  padding-top: rem(93);
  img {
    display: block;
    width: auto !important;
    margin: 0 auto;
  }
  .common-inner {
    padding: 0 rem(24);
  }

  /* ==================== */
  /*      visual         */
  /* ============= ======= */
  .main-visual {
    box-sizing: border-box;
    padding-top: rem(50);
    text-align: center;
    width: 100%;
    background-color: #ccc;
    background-position: center;
    padding-bottom: rem(50);
    background: #111;
    position: relative;
    overflow: hidden;

    svg {
      position: relative;
      z-index: 3;
      top: rem(140);
    }

    .bg-swiper {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      right: 0;
    }

    .visual-content {
      position: relative;
      z-index: 3;

      &:after {
        content: '';
        position: absolute;
        z-index: 0;
        bottom: rem(-78);
        left: 50%;
        transform: translateX(-50%);
        background: url('../img/bg-main-visual.png') no-repeat center;
        width: rem(332);
        height: rem(121);
        background-size: cover;
      }
    }
    .top-info {
      margin-top: rem(35);
      position: relative;
      z-index: 4;
    }
    .top-img {
      margin-bottom: rem(10);
    }

    .price-swiper {
      height: rem(125);
      position: relative;
      z-index: 4;
      margin: 0 auto;
      text-align: center;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    .mid-info {
      margin-top: rem(10);
      font-size: rem(12);
      font-weight: 400;
      letter-spacing: rem(-0.48);
      color: #aaa;
    }
  }

  /* ==================== */
  /*      preorder-coupon         */
  /* ============= ======= */
  .preorder-coupon {
    background: rgba(129, 0, 245, 0.08);
    padding-top: rem(97);
    text-align: center;
    padding-bottom: rem(63);
    .coupon-content {
      margin-top: rem(37);
      position: relative;
      overflow: hidden;

      .coupon-bg {
        .coupon-machine {
          position: absolute;
          top: 5px;
          left: 50%;
          margin-left: -116px;

          .coupon-claw {
            animation: floatClaw 2s ease-in-out infinite; // 집게만의 움직임
          }
        }
      }
    }
    // 집게의 좀 더 짧은 상하 움직임
    @keyframes floatClaw {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-25px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    .coupon-date {
      margin-top: rem(20);
      margin-bottom: rem(53);
      font-size: rem(18);
      font-weight: 600;
      letter-spacing: -0.9px;
    }
    .coupon-header {
      margin: 0 auto;
      text-align: center;
      .coupon-title {
        margin: 0 auto;
      }
      .coupon-subtitle {
        margin: 0 auto;
        margin-top: rem(12);
      }
    }
  }

  /* ==================== */
  /*    priceComparison         */
  /* ============= ======= */
  .priceComparison {
    padding-top: rem(60);
    padding-bottom: rem(60);
    .common-btn-wrp {
      margin-top: rem(27);
    }
    .price-header {
      .sub-title {
        margin-top: rem(12);
      }
    }
    .price-content {
      margin-top: rem(37);
      padding: rem(36) 0;
      border-radius: 8px;
      border: 1px dashed #ccc;
      padding-left: rem(24);
      position: relative;
      .price-description {
        color: #777;
        font-family: SUIT;
        font-size: rem(16);
        font-weight: 700;
        letter-spacing: -0.8px;
        span {
          display: inline-block;
          color: #282228;
          font-size: rem(18);
          font-weight: 700;
          margin-right: rem(4);
          letter-spacing: -0.9px;
          padding-bottom: rem(6);
          border-bottom: 3px solid #000;
        }
      }
      .price-savings {
        display: inline-block;
        margin-top: rem(14);
        font-size: rem(18);
        font-weight: 700;
        color: #ff008c;
        letter-spacing: -0.9px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: rem(2);
          left: 0;
          height: 7px;
          width: rem(0);
          background: rgba(255, 0, 140, 0.1);
          transition: all 0.6s ease-in-out 0.7s;
        }
        em {
          display: inline-block;
          margin-right: rem(2);
          position: relative;
          top: rem(-12);
          font-size: rem(16);
          font-weight: 700;
          color: #ff008c;
          letter-spacing: -0.9px;
        }
        strong {
          font-size: rem(28);
          font-family: Outfit;
          font-weight: 700;
          color: #ff008c;
          letter-spacing: -0.9px;
        }
      }
      span.txt {
        position: absolute;
        right: rem(23);
        top: rem(105);
        display: inline-block;
        margin-left: rem(5);
        font-size: rem(14);
        font-weight: 700;
        color: #282228;
        letter-spacing: -0.7px;
        color: #282828;
        font-family: SUIT;
      }
      .price-note {
        margin-top: rem(16);
        font-size: rem(13);
        font-weight: 400;
        color: #777;
        letter-spacing: -0.7px;
      }
    }
    .price-range-container {
      padding: rem(26) rem(32);
      border-radius: 8px;
      background: #f1f1f1;
      position: relative;
      overflow: hidden;
      direction: rtl;
      .price-range {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: transform 1s ease-in-out;
      }
      .range-label {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px 0;
        font-size: rem(12);
        font-weight: 600;
        color: #777;
        letter-spacing: -0.6px;
        &.original {
          .label-text {
            &::after {
              content: '';
              position: absolute;
              z-index: 6;
              left: rem(15);
              bottom: rem(-40);
              width: 40px;
              height: 40px;
              background: url('../img/2024-alarm/priceComparison-bill.svg')
                no-repeat center;
            }
          }
          .price-text {
            position: relative;
            left: calc(3px + (100vw - 360px) * 0.085);
          }
        }
        .label-text {
          position: relative;
          img {
            position: relative;
            left: rem(5);
          }
        }
      }
      .range-bar {
        width: 100%;
        height: rem(8);
        background-color: #ff008c;
        border-radius: 100px;
        position: relative;
        margin-top: rem(15);
        margin-bottom: rem(10);
        .range-bar-fill {
          position: absolute;
          z-index: 6;
          top: rem(-7);
          left: 33.3%;
          height: rem(21);
          background-color: #ddd;
          width: rem(2);
          transition: width 1s ease-in-out;
          &.second {
            left: 66.6%;
          }
        }
      }
      .range-progress {
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #777;
        border-radius: 100px;
        width: 0;
        transition: width 1.2s ease-in-out;
      }
      /* ==================== */
      /*     쿠폰 애니메이션   */
      /* ==================== */
      /* 초기 상태 */
      .range-progress {
        width: 0;
        transition: width 1.2s ease-out;
        &::before {
          content: '';
          position: absolute;
          top: rem(-17);
          left: rem(-25);
          width: 40px;
          height: 40px;
          background: url('../img/2024-alarm/priceComparison-coin.svg')
            no-repeat center;
          opacity: 0;
        }
        &::after {
          content: '';
          position: absolute;
          right: rem(-2);
          width: 10%;
          top: rem(-1);
          background: #fff;
          height: rem(10);
          border-radius: 100px;
        }
      }

      .price-range {
        transition: transform 1s ease-out;
      }

      .savings-amount {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.8s ease-out;
      }

      /* 'on' 클래스가 추가되었을 때의 스타일 */
      .range-progress.on {
        width: clamp(85%, calc(85% + (100vw - 360px) * 0.05), 100%);
        &::before {
          opacity: 1;
        }
      }

      .savings-amount.on {
        opacity: 1;
        transform: translateY(0);
      }

      /* 섹션 전체에 대한 스타일도 유지 */
      #priceComparison.on .range-progress {
        width: 100%;
      }

      #priceComparison.on .savings-amount {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.on .price-content .price-savings::after {
      width: 100%;
    }
  }

  /* ==================== */
  /*    lucky-draw       */
  /* ============= ======= */
  .lucky-draw {
    padding-top: rem(60);
    padding-bottom: rem(60);
    h3 {
      margin-top: rem(12);
      margin-bottom: rem(40);
    }
    .prize-thumbs-swiper {
      margin-top: rem(32);
      .thumb-item-wrp {
        display: flex;
        flex-wrap: wrap;
        gap: rem(14);
        .thumb-item {
          background: pink;
          img {
            width: 100% !important;
            height: auto;
          }
        }
      }
    }
    .notice {
      margin-top: rem(23);
      line-height: 1.5;
      text-align: center;
      font-size: rem(13);
      font-weight: 400;
      color: #aaa;
      letter-spacing: -0.65px;
    }
    .common-btn-wrp {
      margin-top: rem(26);
    }
    .common-notice-desc {
      margin-top: rem(20);
      color: #aaa;
      text-align: center;
      font-family: SUIT;
      font-size: rem(13);
      font-style: normal;
      font-weight: 400;
      line-height: rem(20); /* 153.846% */
      letter-spacing: -0.65px;
    }
    .lucky-draw-content {
      .prize-cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: rem(8);
      }
      .prize-card {
        position: relative;
        text-align: center;
        flex: 1 0 calc(50% - rem(4));
        border-radius: 12px;
        background: #f5f5f5;
        padding: rem(25) rem(0);
        box-sizing: border-box;
        .prize-brand {
          font-size: rem(12);
          font-weight: 400;
          color: #ff18aa;
          letter-spacing: -0.6px;
        }
        .prize-name {
          margin-top: rem(5);
          font-size: rem(15);
          font-weight: 600;
          color: #272727;
          letter-spacing: -0.7px;
        }
        .prize-quantity {
          width: rem(45);
          height: rem(45);
          box-sizing: border-box;
          position: absolute;
          right: rem(17);
          top: rem(20);
          padding: rem(12) rem(8) rem(13) rem(7);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          background: rgba(0, 0, 0, 0.5);
          font-size: rem(12);
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }

  .prize-display-swiper {
    position: relative;
    margin-top: 30px;
    .swiper-slide {
      perspective: 1000px;
      img {
        width: auto;
        height: auto;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        cursor: pointer;
        backface-visibility: hidden;
        &.flipped {
          transform: rotateY(180deg);
        }
      }
    }
    .prize-item {
      width: 100%;
      background: pink;
      padding-top: 34px;
      padding-bottom: 24px;

      .prize-circle {
        margin-top: rem(33);
        perspective: 1000px;
        img {
          width: auto !important;
          max-width: 74%;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          &.flipped {
            transform: rotateY(180deg);
          }
        }
      }
      .prize-info {
        margin-top: rem(30);
        .brand {
          font-size: rem(14);
          font-weight: 400;
          color: #777;
          letter-spacing: -0.7px;
          margin-bottom: rem(4);
        }
        .name {
          font-size: rem(16);
          font-weight: 700;
          color: #000;
          letter-spacing: -0.8px;
          margin-bottom: rem(4);
          line-height: 1.2;
        }
        .quantity {
          display: inline-block;
          padding: rem(4) rem(16);
          border-radius: 100px;
          background: #000;
          color: #fff;
          font-size: rem(14);
          font-weight: 500;
          letter-spacing: -0.6px;
        }
      }
      .lucky-badge {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  /* ==================== */
  /*    discount-card      */
  /* ============= ======= */
  .discount-card {
    background: rgba(254, 5, 146, 0.05);
    padding-top: rem(60);
    padding-bottom: rem(60);

    h3 {
      margin-top: rem(12);
    }
    .benefit-cards-container {
      margin-top: rem(32);
    }
    .benefit-card {
      margin-bottom: rem(30);
      padding-left: rem(30);
      padding-top: rem(32);
      padding-bottom: rem(28);
      padding-right: rem(30);
      background: #fff;
      border-radius: 16px;
      border: 1px solid rgba(255, 0, 140, 0.2);
      background: #fff;
      &:last-of-type {
        margin-bottom: 0;
      }
      .benefit-tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(14);
        height: rem(16);
        border-radius: 100px;
        background: #c1c1c1;
        padding: rem(9) rem(10);
        font-size: rem(13);
        font-weight: 700;
        color: #fff;
        letter-spacing: -0.26px;
      }
      .benefit-title {
        font-size: rem(24);
        font-weight: 700;
        color: #333;
        letter-spacing: -1.2px;
        font-family: SUIT;
      }
      .discount-amount {
        font-size: rem(24);
        font-weight: 700;
        color: #ff008c;
        letter-spacing: -1.2px;
        font-family: SUIT;
      }
      .benefit-description {
        margin-top: rem(8);
      }
      .description-line1 {
        font-size: rem(16);
        font-weight: 400;
        color: #777;
        letter-spacing: -0.8px;
        color: #777;
        font-family: SUIT;
        line-height: 24px; /* 150% */
        span {
          font-weight: 700;
        }
      }
      .description-line2 {
        font-size: rem(12);
        font-weight: 400;
        color: #777;
        letter-spacing: -0.6px;
        font-family: SUIT;
      }
      .benefit-image img {
        margin-left: auto;
        margin-right: 0;
        margin-top: rem(30);
      }
    }
  }

  /* ==================== */
  /*      요금제 혜택      */
  /* ==================== */
  .plan-benefits {
    background: #1f1f1f;
    .common-inner {
      padding: rem(60) rem(20);
    }

    .coupon-title {
      text-align: center;
      margin-bottom: rem(20);
      img {
        width: rem(180) !important;
      }
    }

    .coupon-subtitle {
      text-align: center;
      img {
        width: rem(386) !important;
      }
    }

    .mt-20 {
      margin-top: rem(20);
    }

    .plan-benefits-cards {
      margin-top: rem(40);
    }

    .plan-card {
      &:last-child {
        margin-bottom: 0;
      }

      .plan-content {
        .plan-number {
          display: inline-block;
          font-size: rem(18);
          font-weight: 700;
          color: #666;
          margin-bottom: rem(24);
        }

        .plan-title {
          font-size: rem(24);
          font-weight: 700;
          line-height: 1.4;
          margin-bottom: rem(16);
          letter-spacing: -0.48px;
          font-family: SUIT;
        }

        .plan-description {
          font-size: rem(16);
          color: #666;
          line-height: 1.6;
          letter-spacing: -0.32px;
          font-family: SUIT;
        }
      }

      .plan-image {
        margin: rem(14) auto;
        text-align: center;
        margin-top: rem(30);
        max-width: rem(312);
        img {
          width: rem(260) !important;
        }
      }

      .plan-notice {
        margin-top: rem(14);
        .notice-text {
          text-align: left;
          color: #999;
          font-family: SUIT;
          font-size: rem(12);
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 150% */
          letter-spacing: -0.6px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  /* ==================== */
  /*    new-galaxy-coming-soon      */
  /* ============= ======= */
  .new-galaxy-coming-soon {
    padding-top: rem(60);
    background: #1d1d1d;
    position: relative;
    .bg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: rem(0);
    }
    p {
      margin-top: rem(35);
    }
  }

  /* ==================== */
  /*   model-select-wrp   */
  /* ============= ======= */
  .model-select-wrp {
    padding-bottom: rem(40);
    padding-top: rem(40);
    .swiper-button-prev {
      position: absolute;
      left: rem(-2) !important;
    }
    .swiper-button-prev::after {
      content: '';
      width: rem(10);
      height: rem(17);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17' fill='none'%3E%3Cpath d='M8 17L10 14.875L2 6.375L-5.82128e-07 8.5L8 17Z' fill='%23333333'/%3E%3Cpath d='M-5.82128e-07 8.5L2 10.625L10 2.125L8 -8.74228e-08L-5.82128e-07 8.5Z' fill='%23333333'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .swiper-button-next {
      position: absolute;
      right: rem(-8) !important;
    }
    .swiper-button-next::after {
      content: '';
      width: rem(10);
      height: rem(17);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='17' viewBox='0 0 10 17' fill='none'%3E%3Cpath d='M2 17L-9.28867e-08 14.875L8 6.375L10 8.5L2 17Z' fill='%23333333'/%3E%3Cpath d='M10 8.5L8 10.625L-4.91261e-07 2.125L2 -8.74228e-08L10 8.5Z' fill='%23333333'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .tab-group.model-select {
      margin-top: rem(24);
    }
    .tit-wrp {
      text-align: center;
      .model-title {
        color: #333;
        text-align: center;
        font-family: 'pretendard';
        font-size: rem(26);
        font-weight: 700;
      }
      .color-title {
        margin-top: rem(8);
        color: #333;
        text-align: center;
        font-family: SUIT;
        font-size: rem(16);
        font-weight: 500;
        line-height: rem(20);
        letter-spacing: rem(-0.8);
        padding-bottom: rem(14);
        border-bottom: rem(1) solid #ddd;
        margin-bottom: rem(45);
      }
    }
    .color-select {
      img {
        width: rem(179) !important;
      }
    }
    .model-tab {
      display: flex;
      gap: rem(12);
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      scrollbar-width: none;
      -ms-overflow-style: none;
      li {
        button {
          padding: rem(12);
          color: #888;
          font-size: rem(15);
          font-weight: 800;
          border-radius: rem(100);
          background: #f1f1f1;
          letter-spacing: rem(-0.6);
        }
      }
    }
    .common-tab-content-wrp {
      border-radius: rem(16);
      margin-top: rem(24);
      border: rem(1) solid #ddd;
      background: #fff;
      padding: rem(24);
      gap: rem(24);
    }
    .color-tab {
      display: flex;
      gap: rem(12);
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      scrollbar-width: none;
      -ms-overflow-style: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &.color-tab {
        margin-top: rem(42);
        text-align: center;
        display: flex;
        justify-content: center;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        flex: 0 0 auto;
        button {
          width: rem(30);
          height: rem(30);
          border-radius: rem(6);
          &.gray {
            background-color: #d6dde0;
          }
          &.black {
            background-color: red;
          }
          &.white {
            background-color: #d8d4c9;
          }
          &.blue {
            background-color: #03e05a;
          }
        }
        &.active {
          button {
            position: relative;
            border: rem(2) solid #000;
            &::after {
              position: absolute;
              left: 33%;
              top: 27%;
              transform: translate(-50%, -50%);
              content: '';
              display: block;
              width: rem(7);
              height: rem(7);
              border-bottom: rem(2) solid #fff;
              border-right: rem(2) solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    .storage-tab {
      margin-top: rem(20);
      display: flex;
      gap: rem(10);
      justify-content: center;
      li {
        display: flex;
        padding: rem(10) rem(20);
        justify-content: center;
        align-items: center;
        gap: rem(10);
        background: #f5f5f5;
        border-radius: rem(100);

        button {
          width: 100%;
          height: 100%;
          color: #777;
          font-size: rem(14);
          font-weight: 700;
          line-height: rem(20);
          letter-spacing: rem(-0.7);
        }
        &.active {
          background: #fff;
          border-radius: rem(100);
          border: rem(1) solid #282828;
          button {
            color: #333;
            font-size: rem(14);
            font-weight: 800;
            line-height: rem(20);
          }
        }
      }
    }
    .storage-price-box {
      position: relative;
      margin-top: rem(40);
      display: flex;
      padding: rem(5) rem(30) rem(20) rem(30);
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      border-radius: rem(12);
      border: rem(1) dashed #ccc;
      background: #f1f1f1;
      .storage-text {
        margin-top: 30px;
      }
      .storage-icon {
        position: absolute;
        top: rem(-18);
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      .storage-info {
        width: 100%;
        .price-info {
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: rem(9);

            .left {
              display: flex;
              width: rem(80);
              padding: rem(4) rem(10);
              justify-content: center;
              align-items: center;
              gap: rem(10);
              border-radius: rem(4);
              background: #999;
              color: #fff;
              font-family: SUIT;
              font-size: rem(10);
              font-weight: 700;
              letter-spacing: rem(-0.5);
              box-sizing: border-box;
            }

            .right {
              color: #555;
              font-family: Outfit;
              font-size: rem(18);
              font-weight: 700;
              line-height: rem(23);
              span {
                color: #555;
                font-family: SUIT;
                font-size: rem(12);
                font-weight: 400;
                letter-spacing: rem(-0.6);
                display: inline-block;
                margin-left: rem(2);
              }
            }
          }

          .discount {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
              display: flex;
              width: rem(80);
              padding: rem(4) rem(10);
              justify-content: center;
              align-items: center;
              gap: rem(10);
              box-sizing: border-box;
              border-radius: rem(4);
              background: #8100f5;
              color: #fff;
              font-family: SUIT;
              font-size: rem(10);
              font-weight: 700;
              letter-spacing: rem(-0.5);
            }

            .right {
              color: #8100f5;
              font-family: Outfit;
              font-size: rem(18);
              font-weight: 700;
              line-height: rem(23);
              span {
                color: #8100f5;
                font-family: SUIT;
                font-size: rem(12);
                font-weight: 400;
                letter-spacing: rem(-0.6);
                display: inline-block;
                margin-left: rem(2);
              }
            }
          }
        }
      }

      .notice {
        margin-top: rem(12);
        color: #999;
        text-align: center;
        font-family: SUIT;
        font-size: rem(10);
        font-weight: 700;
        letter-spacing: rem(-0.5);
        span {
          color: #000;
          font-family: SUIT;
          font-size: rem(10);
          font-weight: 700;
          letter-spacing: rem(-0.5);
        }
      }
    }

    .price-info {
      position: relative;
      margin-top: rem(24);
      text-align: left;

      .original-price {
        color: #555;
        font-family: SUIT;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.7px;
        line-height: 1.6;
        span {
          color: #555;
          font-family: Outfit;
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        em {
          color: #555;
          font-family: SUIT;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.7px;
          display: inline-block;
          margin-left: 3px;
        }
      }

      .reservation-price {
        display: flex;
        padding: 4px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 4px;
        border: 1px solid #ff18aa;
        background: #fff;
        max-width: 75px;
        color: #ff00a8;
        font-family: SUIT;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.6px;
        margin-bottom: rem(8);
      }
      .discount-price {
        display: inline-block;
        color: #ff00a8;
        font-family: Outfit;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 7px;
          background: rgba(255, 0, 168, 0.25);
        }

        em {
          color: #ff00a8;
          font-family: SUITE;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.8px;
        }
      }

      .savings {
        margin-top: rem(13);
        color: #66707a;
        font-family: SUIT;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.6px;
        em {
          color: #000;
          font-family: SUIT;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.6px;
        }
      }

      .accordion {
        text-align: right;

        .accordion-txt-wrp {
          position: relative;
          right: 0;
          bottom: rem(16);
        }
        .accordion-txt {
          color: #000;
          font-family: SUIT;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.65px;
          padding-bottom: 0;
          display: inline-flex;
          gap: 5px;
          align-items: center;
        }

        .accordion-content {
          display: none;
          padding: rem(24) rem(20);
          margin-top: rem(8);
          border-radius: rem(8);
          background: #f7f7f7;
          text-align: left;

          .benefit-list {
            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: rem(8);

              .benefit-label {
                color: #666;
                font-family: SUIT;
                font-size: rem(12);
                font-weight: 400;
                letter-spacing: rem(-0.6);
              }

              .benefit-value {
                color: #333;
                font-family: SUIT;
                font-size: rem(12);
                font-weight: 700;
                letter-spacing: rem(-0.6);
              }
            }
          }

          .total-benefit {
            margin-top: rem(16);
            padding-top: rem(16);
            border-top: 1px solid #e6e6e6;
            color: #333;
            font-family: SUIT;
            font-size: rem(12);
            font-weight: 400;
            letter-spacing: rem(-0.6);

            strong {
              color: #8100f5;
              font-weight: 700;
            }
          }

          .benefit-notice {
            margin-top: rem(16);
            display: flex;
            justify-content: center;

            ul li {
              position: relative;
              color: #999;
              font-family: SUIT;
              font-size: rem(10);
              font-weight: 400;
              letter-spacing: rem(-0.5);
              line-height: rem(16);
              text-align: center;
              &.last {
                margin-top: rem(16);
              }
            }
          }
        }

        &.active {
          .accordion-content {
            display: block;
          }
        }
      }
    }
  }

  /* ==================== */
  /*      toast-message       */
  /* ==================== */
  .toast-message {
    position: fixed;
    top: rem(20);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: rem(4);
    border-radius: 100px;
    border: 1px solid rgba(135, 87, 33, 0.4);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(124, 55, 213, 0.08);
    backdrop-filter: blur(2px);
    font-size: rem(14);
    z-index: 1000;
    padding: rem(6) rem(14);
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    .toast-text {
      flex: none;
      font-size: rem(14);
      font-weight: 400;
      color: #999;
      letter-spacing: -0.56px;
    }

    .countdown {
      flex: none;
      font-size: rem(14);
      font-weight: 700;
      color: #333;
      letter-spacing: -0.56px;
    }

    &-close {
      margin-left: rem(2);
      position: relative;
      top: rem(1.3);
      &:hover {
        color: #333;
      }
    }
  }

  @keyframes slideDown {
    from {
      transform: translate(-50%, rem(-20));
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  /* ==================== */
  /*      공통 탭         */
  /* ==================== */
  .common-tab-menu-wrp {
    .common-tab-content {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  /* ==================== */
  /*      공통 NOTICE        */
  /* ==================== */
  .common-notice-wrp {
    position: relative;
    z-index: 10;
    padding-top: rem(40);
    padding-bottom: rem(7);
    margin: 0 -1.5rem;
    .common-notice-menu {
      .title-wrp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .arrow-down {
          border-bottom: #fff solid 2px;
          border-right: #fff solid 2px;
        }
      }
      &-item {
        padding: rem(16) rem(24);
        background: #1d1d1d;
        cursor: pointer;
        transition: background-color 0.2s ease;
        border-top: 1px solid rgba(221, 221, 221, 0.2);
        font-size: rem(16);
        font-weight: 700;
        color: #fff;
        letter-spacing: -0.8px;

        &.active {
          .arrow-down {
            top: rem(2);
            transform: rotate(225deg);
            border-bottom: #ff00a8 solid 2px;
            border-right: #ff00a8 solid 2px;
          }
        }

        ul {
          margin-top: rem(16);
          list-style: none;
          .notice-title,
          .notice-desc {
            font-size: rem(14);
            margin-top: rem(15);
            margin-bottom: rem(15);
            margin-left: rem(-6);
            font-weight: 400;
            color: #999;
          }
          li {
            font-size: rem(14);
            font-weight: 400;
            color: #999;
            letter-spacing: -0.8px;
            position: relative;
            padding-left: rem(12);
            margin-bottom: rem(5);
            &:before {
              content: '•';
              position: absolute;
              left: 0;
              color: #999;
              top: rem(-2);
            }
          }
        }

        &.active {
          background-color: #1d1d1d;

          > .common-notice-content {
            max-height: max-content;
            opacity: 1;
          }
        }
      }
    }

    .common-notice-content {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      padding-left: rem(10);

      &.active {
        padding: rem(20);
      }
    }
  }
}

/* ==================== */
/*   공통 둥둥 뜨는 효과 */
/* ==================== */
@keyframes dongdong {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(rem(-6));
  }
}

.dongdong-effect {
  animation: dongdong 1.5s ease-in-out infinite;
}

/* ==================== */
/*      공통  */
/* ==================== */

// px을 rem으로 변환하는 함수
@function rem($px) {
  @return calc($px / 16) + rem;
}

// 마진 클래스 생성
@for $i from 1 through 100 {
  // margin
  .mt-#{$i} {
    margin-top: rem($i);
  }
  .mb-#{$i} {
    margin-bottom: rem($i);
  }
  .ml-#{$i} {
    margin-left: rem($i);
  }
  .mr-#{$i} {
    margin-right: rem($i);
  }
  .my-#{$i} {
    margin-top: rem($i);
    margin-bottom: rem($i);
  }
  .mx-#{$i} {
    margin-left: rem($i);
    margin-right: rem($i);
  }

  // padding
  .pt-#{$i} {
    padding-top: rem($i);
  }
  .pb-#{$i} {
    padding-bottom: rem($i);
  }
  .pl-#{$i} {
    padding-left: rem($i);
  }
  .pr-#{$i} {
    padding-right: rem($i);
  }
  .py-#{$i} {
    padding-top: rem($i);
    padding-bottom: rem($i);
  }
  .px-#{$i} {
    padding-left: rem($i);
    padding-right: rem($i);
  }
}

/* ==================== */
/*      공통  버튼  */
/* ==================== */
.common-btn-wrp {
  position: relative;
  .toast {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: rem(-25);
    text-align: center;
  }
  .common-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: rem(60);
    border: 1px solid #ff18aa;
    color: #fff;
    background-color: #ff18aa;
    border-radius: rem(100);
    font-size: rem(18);
    font-weight: 700;
    letter-spacing: -0.9px;
  }
  p {
    margin-top: rem(14);
    text-align: center;
    font-size: rem(13);
    color: #777;
    font-weight: 400;
  }
}
.com-alarm-btn-wrp {
  img {
    display: block;
    width: auto !important;
    margin: 0 auto;
  }
  position: fixed;
  bottom: 0;
  z-index: 999;
  left: 0;
  right: 0;
  width: 100%;
  height: rem(60);
  .toast-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: rem(-20);
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .com-alarm-btn {
    background: linear-gradient(98deg, #ff485b 0%, #f601bc 100%);
    height: 100%;
    button {
      color: #fff;
    }
  }
}

/* ==================== */
/*      공통  아코디언  */
/* ==================== */
.accordion {
  &.active {
    .arrow-down {
      top: rem(-1);
      transform: rotate(225deg);
    }
  }
  .accordion-icon {
    position: relative;
    top: rem(2);
    left: rem(-1);
    width: rem(16);
    display: inline-block;
  }

  .accordion-txt {
    padding-bottom: rem(5);
    display: inline-block;
    font-size: rem(13);
    color: #555;
    font-weight: 400;
    letter-spacing: -0.65px;
    width: auto;
    display: inline-block;
  }

  .accordion-content {
    padding: rem(10) 0 rem(24);
    padding-bottom: rem(0);
    ul {
      text-align: left;
      li {
        display: flex;
        font-size: rem(14);
        font-weight: 400;
        color: #777;
        letter-spacing: -0.7px;
        line-height: 24px;

        &:last-child {
          margin-bottom: 0; // 마지막 항목은 마진 제거
        }
        .number {
          flex: 0 0 rem(5); // 숫자 영역 고정 너비
          margin-right: rem(3); // 숫자와 텍스트 사이 간격
        }

        .text {
          flex: 1; // 나머지 공간을 텍스트가 차지

          br {
            display: block;
          }
        }
      }
    }
  }
}

/* ==================== */
/*      공통  화살표  */
/* ==================== */

.arrow-down {
  transition: all 0.3s ease;
  position: relative;
  top: rem(-4);
  left: rem(5);
  display: inline-block;
  width: rem(5);
  height: rem(5);
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.arrow-right {
  position: relative;
  top: rem(1);
  left: rem(10);
  width: rem(8);
  height: rem(8);
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);

  /* 애니메이션 상태 클래스 */
  &.animate {
    animation: arrowSlideOut 1.2s ease infinite;
  }
}

.arrow-down {
  transform: rotate(45deg);
}

/* 슬라이드 아웃 애니메이션 */
@keyframes arrowSlideOut {
  0% {
    opacity: 0;
    left: rem(0);
  }
  100% {
    opacity: 1;
  }
}

/* 호버 효과도 추가하고 싶다면 */
.arrow-right:hover {
  animation: arrowSlideOut 0.5s ease forwards;
}

/* ==================== */
/*      색상  */
/* ==================== */
.c-main-color {
  color: #ff0090;
}

/* ==================== */
/*      icon  */
/* ==================== */
i.close-btn {
  display: inline-block;
  width: rem(16);
  height: rem(16);
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4.56 11.94C4.70667 12.0867 4.89333 12.16 5.12 12.16C5.34667 12.16 5.53333 12.0867 5.68 11.94L8 9.62L10.34 11.96C10.4867 12.1067 10.6701 12.1765 10.8904 12.1696C11.1101 12.1632 11.2933 12.0867 11.44 11.94C11.5867 11.7933 11.66 11.6067 11.66 11.38C11.66 11.1533 11.5867 10.9667 11.44 10.82L9.12 8.5L11.46 6.16C11.6067 6.01333 11.6765 5.82987 11.6696 5.6096C11.6632 5.38987 11.5867 5.20667 11.44 5.06C11.2933 4.91333 11.1067 4.84 10.88 4.84C10.6533 4.84 10.4667 4.91333 10.32 5.06L8 7.38L5.66 5.04C5.51333 4.89333 5.33013 4.8232 5.1104 4.8296C4.89013 4.83653 4.70667 4.91333 4.56 5.06C4.41333 5.20667 4.34 5.39333 4.34 5.62C4.34 5.84667 4.41333 6.03333 4.56 6.18L6.88 8.5L4.54 10.84C4.39333 10.9867 4.32347 11.1699 4.3304 11.3896C4.3368 11.6099 4.41333 11.7933 4.56 11.94ZM8 16.5C6.89333 16.5 5.85333 16.2899 4.88 15.8696C3.90667 15.4499 3.06 14.88 2.34 14.16C1.62 13.44 1.05013 12.5933 0.6304 11.62C0.210133 10.6467 0 9.60667 0 8.5C0 7.39333 0.210133 6.35333 0.6304 5.38C1.05013 4.40667 1.62 3.56 2.34 2.84C3.06 2.12 3.90667 1.54987 4.88 1.1296C5.85333 0.709867 6.89333 0.5 8 0.5C9.10667 0.5 10.1467 0.709867 11.12 1.1296C12.0933 1.54987 12.94 2.12 13.66 2.84C14.38 3.56 14.9499 4.40667 15.3696 5.38C15.7899 6.35333 16 7.39333 16 8.5C16 9.60667 15.7899 10.6467 15.3696 11.62C14.9499 12.5933 14.38 13.44 13.66 14.16C12.94 14.88 12.0933 15.4499 11.12 15.8696C10.1467 16.2899 9.10667 16.5 8 16.5Z' fill='%23B19A80'/%3E%3C/svg%3E");
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  list-style: none;
  padding: 0;
  li {
    flex: 1;
    height: rem(89);
    border-radius: 12.5px;
    border: 1px solid var(--Basic-Gray_D, #d4d4d4);
    background: var(--Basic-White, #fff);

    &:nth-of-type(1) .img {
      background: url('../../pc/img/2024-alarm/c-step01.png') no-repeat center /
        cover;
    }
    &:nth-of-type(2) .img {
      background: url('../../pc/img/2024-alarm/c-step02.png') no-repeat center /
        cover;
    }
    &:nth-of-type(3) .img {
      background: url('../../pc/img/2024-alarm/c-step03.png') no-repeat center /
        cover;
    }

    p {
      color: #666;
      text-align: center;
      font-family: 'Noto Sans KR';
      font-size: rem(14);
      font-style: normal;
      line-height: normal;
      letter-spacing: -1.44px;
      color: var(--Basic-Gray_2, #202425);
      font-weight: 400;
      text-align: left;
      line-height: 1.4;
    }

    &:hover {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
      flex: 1.2;
    }

    input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked + label {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
      border: 2px solid #000;
      color: #303030;
      background: #fff;

      p {
        color: var(--Basic-Gray_2, #202425);
        font-weight: 700;
      }
    }

    #product1:checked + label .img {
      background: url('../../pc/img/2024-alarm/c-step01-on.png') no-repeat
        center / cover;
    }

    #product2:checked + label .img {
      background: url('../../pc/img/2024-alarm/c-step02-on.png') no-repeat
        center / cover;
    }

    #product3:checked + label .img {
      background: url('../../pc/img/2024-alarm/c-step03-on.png') no-repeat
        center / cover;
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      padding-top: rem(28);
      gap: 0 rem(10);

      .img {
        width: rem(92.5);
        height: rem(59);
        margin-left: rem(20);
      }

      .product-name {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.usage-list {
  display: flex;
  flex-wrap: wrap;
  gap: rem(10);
  li {
    flex: 1 0 calc(50% - rem(5));

    input:checked + label {
      border: 2px solid #000;
      color: #303030;
      background: #fff;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
/* ==================== */
/*      기존 css 덮어쓰기  */
/* ==================== */
.ip283_header_type2 {
  transition: transform 0.3s ease;
  transform: translateY(0);
  /* iOS에서의 부드러운 동작을 위한 설정 */
  -webkit-overflow-scrolling: touch;
  will-change: transform;
}
.ip283_header_type2 .bottom-area .lgLogo a {
  width: auto !important;
}
.ip283_header_type2 .bottom-area .lgLogo img {
  position: relative;
  top: rem(2);
}
.ip283_header_type2 {
  .bottom-area {
    background: #1e1e1e;
    transition: none;
    &::before,
    &::after {
      display: none;
    }
  }
  &.on {
    .bottom-area {
      background: rgba(51, 51, 51, 0.4);
      backdrop-filter: blur(3.75px);
    }
  }
}
.ip283_header_type2.scrollEffect {
  transform: translate(0, -95px);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.ip283_header_type2.scrollEffect .bottom-area {
  transform: translate(0, 0px);
}
/* KV 영역을 벗어났을 때의 스타일 */
.ip283_header_type2.header-hidden {
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
}
.swiper-slide img {
  height: auto !important;
}

// 기존 css 덮어쓰기
.bnf_tab_wrap .groupWrap .group ul li {
  font-weight: 600;
}
.bnf_bottomSheet .inner_box ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
}
#btnAlarm.ios_alarm + .bnf_bottomSheet .bnf_btn_wrap .order_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: linear-gradient(90deg, #ff485b 0%, #f601bc 100%), #8100f5;
}
.bnf_tab_wrap .groupWrap .group ul li {
  height: rem(48);
  line-height: rem(48);
}
#btnAlarm.ios_alarm + .bnf_bottomSheet .bnf_btn_wrap .order_btn {
  img {
    position: relative;
    top: rem(2);
  }
}
.bnf_tab_wrap {
  height: auto;
}
.bnf_bottomSheet .timerWrap.ty2 {
  bottom: rem(45);
}
#myModalaler_alarm_stop .modal-title span {
  color: #202425;
  text-align: center;
  font-family: SUIT;
  font-size: rem(22);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: rem(-1.1);
}
.modal.alertPopup .modal-body .alertPopInner p {
  text-align: center;
  margin-top: rem(19);
  color: #666;
  text-align: center;
  font-family: SUIT;
  font-size: rem(14);
  font-style: normal;
  font-weight: 400;
  line-height: rem(20);
  letter-spacing: rem(-0.7);
  span {
    color: #111;
    font-family: SUIT;
    font-size: rem(14);
    font-style: normal;
    font-weight: 700;
    line-height: rem(20);
    letter-spacing: rem(-0.7);
  }
}
#myModalaler_alarm_stop .btn_area button {
  color: #fff;
  text-align: center;
  font-family: SUIT;
  font-size: rem(14);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: rem(-0.7);
  flex: 1;
  max-width: rem(120);
  border-radius: rem(50);
  background: linear-gradient(90deg, #ff485b 0%, #f601bc 100%), #03e05a;
}
#myModalaler_alarm_stop .btn_area button.cancel_btn {
  flex: 0 0 100px;
}
#myModalaler_alarm_stop .btn_area .confirm_btn {
  background: #03e05a;
  color: #222;
  text-align: center;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.7px;
}
#myModalaler_alarm_stop.iphone2024 .btn_area {
  gap: 0 rem(10);
  display: flex;
  justify-content: center;
}
._event .modal-body .pop_inner .tab-wrap .tab-btn-wrap.step1 .step-btn02:before,
._event .modal-body .pop_inner .tab-wrap .tab-btn-wrap.step2 .step-btn03:before,
._event
  .modal-body
  .pop_inner
  .tab-wrap
  .tab-btn-wrap.step3
  .step-btn04:before {
  background: #eaeaea;
}
._event .modal-body .pop_inner .tab-wrap .tab-wrap__inner .step1_wrap {
  border-radius: 40px;
  background: rgba(212, 212, 212, 0.15);
  height: auto;
  padding: rem(62) rem(0);
}
._event .modal-body .pop_inner .tab-wrap .tab-btn-wrap button {
  -webkit-touch-callout: none; /* iOS에서 길게 터치할 때 메뉴 방지 */
  -webkit-user-select: none; /* iOS에서 텍스트 선택 방지 */
  -webkit-tap-highlight-color: transparent; /* iOS에서 터치 시 하이라이트 효과 제거 */
  -webkit-appearance: none; /* iOS의 기본 버튼 스타일 제거 */
  cursor: none; /* 포인터(마우스 커서) 숨기기 */
  pointer-events: none; /* 포인터 이벤트 비활성화 */
  touch-action: none; /* 터치 액션 비활성화 */
}
._event .modal-body .pop_inner .tab-wrap .tab-wrap__inner .step1_wrap .infoTxt {
  color: var(--Basic-Gray_2, #202425);
  text-align: center;
  font-size: rem(14);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.7px;
}
._event
  .modal-body
  .pop_inner
  .tab-wrap
  .tab-wrap__inner.step1
  .step1_wrap
  .btn_certification {
  display: flex;
  width: rem(148);
  height: rem(41);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  span {
    color: var(--Basic-Gray_2, #fff);
    font-size: rem(14);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.7px;
    position: relative;
    top: rem(-1);
  }
}
._event
  .modal-body
  .pop_inner
  .tab-wrap
  .tab-wrap__inner
  .step2_wrap
  input[type='radio']
  + label {
  flex-direction: row;
  padding: rem(15) rem(25);
  gap: 0 rem(10);
  padding-left: 0;
  padding-right: 0;
}
.step_form {
  p.tt {
    padding-bottom: 15px;
    font-size: rem(13);
    font-weight: 400;
    color: #202425;
    letter-spacing: rem(-0.65);
  }
}
.modal.alertPopup .modal-content.type-2 .modal-body .alertPopInner {
  .custom-btn {
    border: 1px solid #d4d4d4 !important;
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    margin-top: rem(10) !important;
  }
  .title2 {
    color: #666;
    text-align: center;
    font-family: SUIT;
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: rem(25); /* 138.889% */
    letter-spacing: rem(-0.9);
    .main-color {
      color: #ff0090;
      font-family: SUIT;
      font-size: rem(14);
      font-style: normal;
      font-weight: 700;
      line-height: rem(25);
      letter-spacing: rem(-0.9);
    }
    span {
      color: #000;
      font-family: SUIT;
      font-size: rem(14);
      font-style: normal;
      font-weight: 700;
      line-height: rem(25);
      letter-spacing: rem(-0.9);
    }
  }
}
.modal.alertPopup .modal-content.type-2 .modal-body .alertPopInner .infoTxt_m {
  margin-top: 0;
}
#myModalalert_finished_alarm.modal.alertPopup
  .modal-content.type-2
  .modal-body
  .alertPopInner
  .infoTxt_m {
  font-weight: 700;
  span {
    font-size: 16px;
    font-weight: 700;
  }
}
.modal.alertPopup .modal-content.type-2 .modal-body .alertPopInner .infoTxt_m {
  font-weight: 400;
}
.modal.alertPopup
  .modal-content.type-2
  .modal-body
  .alertPopInner
  .infoTxt_m
  span {
  font-weight: 800;
  margin-bottom: 5px;
}
.modal._event .modal-body.custom {
  padding: 0 15px;
  .txt {
    margin-top: rem(25);
    font-size: rem(13);
    font-weight: 400;
    color: #666;
    letter-spacing: rem(-0.8);
    text-align: center;
  }
}
.alertPopInner.custom {
  border-radius: 20px;
  background: rgba(212, 212, 212, 0.15);
  text-align: center;
  padding-bottom: rem(45);
  .infoTxt_m {
    font-size: rem(20);
    line-height: 1.4;
    font-weight: 700;
    color: #202425;
    letter-spacing: rem(-0.65);
    span {
      font-size: rem(20);
      font-weight: 700;
      color: #ed008c;
    }
    .s1 {
      font-weight: 500;
      color: #202425;
    }
  }
}
.header_alarm .bottom-area {
  .left {
    padding-left: 25px;
    height: 100%;
    display: flex;
    gap: 17px;
    align-items: center;
    .logo-img {
      position: relative;
      top: 2px;
      left: 50%;
      transform: translateX(-168px);
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
  footer {
    max-width: 100%;
    background: var(--Basic-Gray_2, #202425);
    .footer_inner {
      max-width: 360px;
      margin: 0 auto;
    }
  }
}

._event .under14 .pre_list input[type='checkbox'] + label,
._event .under14 .pre_list label {
  line-height: 24px;
}
._event
  .modal-body
  .pop_inner
  .tab-wrap
  .tab-wrap__inner
  .is-scroll.under14
  .step1_wrap {
  background: #fff !important;
  padding: 0 !important;
  .agree_tit.m_0 {
    margin-bottom: 10px !important;
  }
}
footer {
  max-width: 100%;
}
.quickWrap .btnTop {
  display: block;
}

.preorder-section .bg-img {
  @media screen and (max-width: 345px) {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
}
.preorder-section .plan-benefits .plan-card .plan-image img {
  @media screen and (max-width: 345px) {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
}

// 잠깐 주석처리
.toast-message,
.timerWrap.ty2.bnf_timer,
.bnf_bottomSheet .bnf_btn_wrap .order_btn::before {
  display: none !important;
}

// 공통 화살표
.arrow-icon2 {
  margin-top: rem(16);
  margin-bottom: rem(16);
  display: inline-block;
  width: rem(12);
  height: rem(18);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='18' viewBox='0 0 12 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-5.24537e-07 12L6 18L12 12L7.5 12L7.5 3.93402e-07L4.5 6.55671e-07L4.5 12L-5.24537e-07 12Z' fill='%23AAAAAA'/%3E%3C/svg%3E");
  background-size: cover;
  animation: arrowDown 1s ease-in-out infinite;
  transform-origin: center;
}

@keyframes arrowDown {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}

// 공통 느낌표
.exclamation-mark {
  display: inline-block;
  width: rem(16);
  height: rem(16);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='7.5' stroke='black'/%3E%3Cpath d='M8.67 9.76H7.19L6.92 4H8.9L8.67 9.76ZM7.93 10.8C8.16333 10.8 8.35333 10.8733 8.5 11.02C8.64667 11.1667 8.72 11.3567 8.72 11.59C8.72 11.8167 8.64667 12.0033 8.5 12.15C8.35333 12.3033 8.16333 12.38 7.93 12.38C7.70333 12.38 7.51333 12.3033 7.36 12.15C7.21333 12.0033 7.14 11.8167 7.14 11.59C7.14 11.3567 7.21333 11.1667 7.36 11.02C7.51333 10.8733 7.70333 10.8 7.93 10.8Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: cover;
}
