 <!-- footer -->
 <footer id="footer" class="footer">
   <div class="flex gap60">
      <div class="fot-logo">
        <img src="../assets/img/fot-logo.png" alt="">
      </div>
      <p>
        [04531] 서울 특별시 중구 남대문로 93 (남대문로3가) 대표전화 : 02-759-4114 <br> Copyright Bank of Korea. All night reserved
      </p>
   </div>
</footer>
<!-- footer eee -->