<!-- header -->
<header id="header" class="header">
  <div class="header__inner">
    <div class="logo">
      <h1>
        <img src="../assets/img/nav-logo2.png" alt="" />
      </h1>
    </div>
    <div class="breadcrumb">
      <span>
        <a href="../main/main.html">
          <img src="../assets/img/home.svg" alt="" />
        </a>
      </span>
      <span>평가관리</span>
      <span>목표·면담 설정</span>
      <span>목표마스터 설정</span>
    </div>
    <div class="user-info">
      <div class="name">
        <div class="img-wrap">
          <div class="img" style="background:url('../assets/img/user-img.svg')">
          </div>
          <div class="txt">dev01</div>
        </div>
      </div>
      <div class="welcome-msg">님 직원평가시스템 접속을 환영합니다2.</div>
    </div>
    <div class="login-wrap">
      <a href="#" class="logout-link"> 로그아웃</a>
    </div>
  </div>
</header>
<!-- header eee -->
